---
import Image, { type Props as ImageProps } from '@components/Image.astro';
import { cn } from '@src/util/tailwind';

type Props = {
    title: string;
    icon: ImageProps['src'];
    href?: string;
    active?: boolean;
};

const { title, icon, href, active } = Astro.props;

const Element = href ? 'a' : 'div';
---

<Element class={cn("group flex items-center gap-2.5 py-1.5 px-2 rounded-lg w-full transition-colors hover:bg-code", active && "bg-code")} href={href}>
	<Image src={icon} alt={title} class="size-4" />
	<div class="text-text/60 group-hover:text-text">
		{title}
	</div>
</Element>