---
import Image, { type Props as ImageProps } from '@components/Image.astro';
import { cn } from '@src/util/tailwind';
import { Icon } from 'astro-icon/components';

type Props = {
    title: string;
    icon?: ImageProps['src'];
    href?: string;
    active?: boolean;
    external?: boolean;
};

const { title, icon, href, active, external } = Astro.props;

const Element = href ? 'a' : 'div';
---

<Element class="group flex items-center gap-2.5 py-1.5 px-2 rounded-lg w-full transition-colors hover:bg-code" href={href}>
	{icon && (
		<Image src={icon} alt={title} class="size-4" />
	)}
	<div class={cn("text-text/60 group-hover:text-text flex-1", active && "text-black dark:text-white")}>
		{title}
	</div>
	{external && (
		<Icon name="fa6-solid:arrow-up-right-from-square" class="w-2.5 flex-shrink-0" />
	)}
</Element>