---
import Image, { type Props as ImageProps } from '@components/Image.astro';
import { cn } from '@src/util/tailwind';

type Props = {
    title: string;
    icon: ImageProps['src'];
    href?: string;
};

const { title, icon, href } = Astro.props;

const Element = href ? 'a' : 'div';
const isActive = href && Astro.url.pathname.startsWith(href);
---

<Element class={cn("group flex items-center gap-4 p-2 rounded-lg w-full transition-colors hover:bg-code", isActive && "bg-code")} href={href}>
	<Image src={icon} alt={title} class="size-4" />
	<div class="text-text/60 group-hover:text-text">
		{title}
	</div>
</Element>