.hero {
	text-align: center;
	padding-block: 3rem 2rem;
}

.product-card,
.sdk-card,
.resource-card {
	display: flex;
	padding: var(--mantine-spacing-lg);
	gap: var(--mantine-spacing-md);
	cursor: pointer;
	transition: all 200ms ease;
	height: 100%;
	position: relative;
}

.product-card,
.resource-card {
	align-items: flex-start;
}

.sdk-card {
	flex-direction: column;
}

.sdk-card {
	justify-content: center;
	align-items: center;
	text-align: center;
}