.hero {
	text-align: center;
	padding-block: 3rem 2rem;
}

.product-card,
.sdk-card,
.resource-card {
	display: flex !important;
	padding: var(--mantine-spacing-lg) !important;
	gap: var(--mantine-spacing-xs) !important;

	&:hover {
		filter: brightness(1.25);
	}
}

.product-card,
.sdk-card {
	flex-direction: column !important;
}

.sdk-card {
	justify-content: center !important;
	align-items: center !important;
	text-align: center !important;
}

.resource-card {
	align-items: center !important;
}