.hero {
	text-align: center;
	padding-block: 3rem 2rem;
}

.product-card,
.sdk-card,
.resource-card {
	display: flex !important;
	padding: var(--mantine-spacing-lg) !important;
	gap: var(--mantine-spacing-md) !important;
	background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6)) !important;
	cursor: pointer;
	transition: background-color 200ms ease, transform 200ms ease, filter 200ms ease;
	height: 100%;

	&:hover {
		background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5)) !important;
		transform: translateY(-2px);

		// html has data-mantine-color-scheme="dark"
		html[data-mantine-color-scheme="dark"] & {
			filter: brightness(1.25);
		}

		// html has data-mantine-color-scheme="light"
		html[data-mantine-color-scheme="light"] & {
			filter: brightness(0.97);
		}
	}
}

.product-card,
.resource-card {
	align-items: flex-start !important;
}

.sdk-card {
	flex-direction: column !important;
}

.sdk-card {
	justify-content: center !important;
	align-items: center !important;
	text-align: center !important;
}