.hero {
	text-align: center;
	padding-block: 3rem 2rem;
}

.product-card,
.sdk-card,
.resource-card {
	display: flex;
	padding: var(--mantine-spacing-lg);
	gap: var(--mantine-spacing-md);
	background-color: var(--mantine-color-obsidian-6);

	@include light {
		background-color: var(--mantine-color-gray-0);
	}

	cursor: pointer;
	transition: background-color 200ms ease,
	transform 200ms ease,
	filter 200ms ease;
	height: 100%;

	&:hover {
		filter: brightness(1.25);
		background-color: var(--mantine-color-obsidian-5);
		transform: translateY(-2px);

		@include light {
			background-color: var(--mantine-color-gray-1);
		}

	}
}

.product-card,
.resource-card {
	align-items: flex-start;
}

.sdk-card {
	flex-direction: column;
}

.sdk-card {
	justify-content: center;
	align-items: center;
	text-align: center;
}