.hero {
	text-align: center;
	padding-block: 3rem 2rem;
}

.product-card,
.sdk-card,
.resource-card {
	display: flex !important;
	padding: var(--mantine-spacing-lg) !important;
	gap: var(--mantine-spacing-xs) !important;
	background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6)) !important;
	transition: background-color 200ms ease;

	&:hover {
		background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5)) !important;
	}
}

.product-card,
.sdk-card {
	flex-direction: column !important;
}

.sdk-card {
	justify-content: center !important;
	align-items: center !important;
	text-align: center !important;
}

.resource-card {
	align-items: center !important;
}
