---
import Image from '@components/Image.astro';
import DarkDocs from '@img/logo/dark/docs.svg';
import DarkSurreal from '@img/logo/dark/surrealdb.svg';
import LightDocs from '@img/logo/light/docs.svg';
import LightSurreal from '@img/logo/light/surrealdb.svg';
import Search from '@src/components/Search.astro';
import { Icon } from 'astro-icon/components';
import NavItem from './NavItem.astro';

import DarkDotnet from '@img/icon/dark/dotnet.png';
import DarkGolang from '@img/icon/dark/golang.png';
import DarkJava from '@img/icon/dark/java.png';
import DarkJavascript from '@img/icon/dark/javascript.png';
import DarkNodejs from '@img/icon/dark/nodejs.png';
import DarkPhp from '@img/icon/dark/php.png';
import DarkPython from '@img/icon/dark/python.png';
import DarkRust from '@img/icon/dark/rust.png';
import DarkWasm from '@img/icon/dark/webassembly.png';

import DarkBook from '@img/icon/dark/book.png';
import DarkExamples from '@img/icon/dark/examples.png';
import DarkSidekick from '@img/icon/dark/sidekick.png';
import DarkTutorials from '@img/icon/dark/tutorials.png';
import DarkUniversity from '@img/icon/dark/university.png';

import LightDotnet from '@img/icon/light/dotnet.png';
import LightGolang from '@img/icon/light/golang.png';
import LightJava from '@img/icon/light/java.png';
import LightJavascript from '@img/icon/light/javascript.png';
import LightNodejs from '@img/icon/light/nodejs.png';
import LightPhp from '@img/icon/light/php.png';
import LightPython from '@img/icon/light/python.png';
import LightRust from '@img/icon/light/rust.png';
import LightWasm from '@img/icon/light/webassembly.png';

import LightBook from '@img/icon/light/book-light.png';
import LightExamples from '@img/icon/light/examples.png';
import LightSidekick from '@img/icon/light/sidekick-light.png';
import LightTutorials from '@img/icon/light/tutorials-light.png';
import LightUniversity from '@img/icon/light/university-light.png';
---

<style>
    div:has(~ div .flag-sidebar-container) .sidebar-toggle {
        @apply max-lg:block;
    }
</style>

<input type="checkbox" id="sidebar-toggle" class="hidden" />
<div class="border-b border-border bg-background">
	<div class="h-14 flex items-center">
		<div class="lg:w-[350px] flex-shrink-0 pl-8">
			<div class="flex items-center gap-3 pr-2">
				<label for="sidebar-toggle" class="hidden cursor-pointer sidebar-toggle">
					<Icon name="fa6-solid:bars" class="w-5 h-5" />
				</label>
				<a href="/">
					<Image
						class="block h-6"
						alt="SurrealDB"
						width={400}
						src={{
							light: LightSurreal,
							dark: DarkSurreal,
						}}
					/>
				</a>
				<div class="self-stretch border-border border-r" />
				<a href={`${import.meta.env.BASE_URL}/surrealdb`}>
					<Image
						class="block h-6"
						alt="SurrealDB Docs Logo"
						width={400}
						src={{
							light: LightDocs,
							dark: DarkDocs,
						}}
					/>
				</a>
			</div>
		</div>
		<div class="flex-1 max-md:hidden">
			<div class="max-w-[960px] mx-auto px-6">
				<Search isMobile={false} />
			</div>
		</div>
		<div class="w-[350px] hidden 3xl:flex pr-8 justify-end">
			<a
				href="https://app.surrealdb.com/signin"
				class="gradient-button !py-1.5 !text-white"
			>
				Sign in
				<Icon name="fa6-solid:chevron-right" class="w-4 text-xs" />
			</a>
		</div>
	</div>
	<nav class="flex flex-wrap gap-2 items-stretch px-8">
		<NavItem href="/docs/surrealdb">
			SurrealDB
		</NavItem>
		<NavItem href="/docs/surrealql">
			SurrealQL
		</NavItem>
		<NavItem href="/docs/surrealist">
			Surrealist
		</NavItem>
		<NavItem href="/docs/cloud">
			Cloud
		</NavItem>
		<NavItem href={[
			{ title: "Rust", href: "/docs/sdk/rust", icon: { light: LightRust, dark: DarkRust } },
			{ title: "JavaScript", href: "/docs/sdk/javascript", icon: { light: LightJavascript, dark: DarkJavascript } },
			{ title: "Node.js", href: "/docs/sdk/javascript/engines/node", icon: { light: LightNodejs, dark: DarkNodejs } },
			{ title: "WebAssembly", href: "/docs/sdk/javascript/engines/wasm", icon: { light: LightWasm, dark: DarkWasm } },
			{ title: "Java", href: "/docs/sdk/java", icon: { light: LightJava, dark: DarkJava } },
			{ title: "Golang", href: "/docs/sdk/golang", icon: { light: LightGolang, dark: DarkGolang } },
			{ title: "Python", href: "/docs/sdk/python", icon: { light: LightPython, dark: DarkPython } },
			{ title: ".NET", href: "/docs/sdk/dotnet", icon: { light: LightDotnet, dark: DarkDotnet } },
			{ title: "PHP", href: "/docs/sdk/php", icon: { light: LightPhp, dark: DarkPhp } }
		]}>
			SDKs
		</NavItem>
		<NavItem href="/docs/integrations">
			Integrations
		</NavItem>
		<NavItem href={[
			{ title: "Examples", href: "/docs/labs?filters=examples", icon: { light: LightExamples, dark: DarkExamples } },
			// { title: "Examples", href: "/docs/labs?filter=examples", icon: { light: LightTutorials, dark: DarkTutorials } },
			{ title: "Tutorials", href: "/docs/labs?filters=tutorials", icon: { light: LightTutorials, dark: DarkTutorials } },
			{ title: "University", href: "/learn", icon: { light: LightUniversity, dark: DarkUniversity }, external: true },
			{ title: "Book", href: "/learn/book", icon: { light: LightBook, dark: DarkBook }, external: true },
			{ title: "Sidekick", href: "https://app.surrealdb.com/chat", icon: { light: LightSidekick, dark: DarkSidekick }, external: true }
		]}>
			Education
		</NavItem>
		<NavItem href="/docs/labs">
			Labs
		</NavItem>
		<div class="flex-1" />
		<div class="hidden lg:flex gap-4 self-center opacity-80">
			<a href="https://github.com/surrealdb/surrealdb">
				<Icon name="fa6-brands:github" class="w-4" />
			</a>
			<a href="https://discord.gg/surrealdb">
				<Icon name="fa6-brands:discord" class="w-4" />
			</a>
			<a href="https://x.com/surrealdb">
				<Icon name="fa6-brands:x-twitter" class="w-4" />
			</a>
			<a href="https://www.youtube.com/@SurrealDB">
				<Icon name="fa6-brands:youtube" class="w-4" />
			</a>
			<a href="https://bsky.app/profile/surrealdb.com">
				<Icon name="fa6-brands:bluesky" class="w-4" />
			</a>
		</div>
	</nav>
</div>
