---
import Image from '@components/Image.astro';
import DarkDocs from '@img/logo/dark/docs.svg';
import DarkSurreal from '@img/logo/dark/surrealdb.svg';
import LightDocs from '@img/logo/light/docs.svg';
import LightSurreal from '@img/logo/light/surrealdb.svg';
import Search from '@src/components/Search.astro';
import { Icon } from 'astro-icon/components';
import NavItem from './NavItem.astro';
---

<style>
    div:has(~ div .flag-sidebar-container) .sidebar-toggle {
        @apply max-lg:block;
    }
</style>

<input type="checkbox" id="sidebar-toggle" class="hidden" />
<div class="border-b border-border bg-background">
	<div class="h-14 flex items-center">
		<div class="lg:w-[350px] flex-shrink-0 pl-10">
			<div class="flex items-center gap-3 pr-2">
				<label for="sidebar-toggle" class="hidden cursor-pointer sidebar-toggle">
					<Icon name="fa6-solid:bars" class="w-5 h-5" />
				</label>
				<a href="/">
					<Image
						class="block h-6"
						alt="SurrealDB"
						width={400}
						src={{
							light: LightSurreal,
							dark: DarkSurreal,
						}}
					/>
				</a>
				<div class="self-stretch border-border border-r" />
				<a href={import.meta.env.BASE_URL}>
					<Image
						class="block h-6"
						alt="SurrealDB Docs Logo"
						width={400}
						src={{
							light: LightDocs,
							dark: DarkDocs,
						}}
					/>
				</a>
			</div>
		</div>
		<div class="flex-1 max-md:hidden">
			<div class="max-w-[960px] mx-auto px-6">
				<Search isMobile={false} />
			</div>
		</div>
		<div class="w-[350px] hidden 3xl:flex pr-10 justify-end">
			
		</div>
	</div>
	<div class="flex gap-2 items-stretch pl-10">
		<NavItem href="/docs/surrealdb">
			SurrealDB
		</NavItem>
		<NavItem href="/docs/surrealql">
			SurrealQL
		</NavItem>
		<NavItem href="/docs/surrealist">
			Surrealist
		</NavItem>
		<NavItem href="/docs/cloud">
			Cloud
		</NavItem>
		<NavItem menu href="/docs">
			SDKs
		</NavItem>
		<NavItem menu href="/docs/integrations">
			Integrations
		</NavItem>
		<NavItem menu href="/docs">
			Education
		</NavItem>
	</div>
</div>
