.search {
	border-width: 1px;
	border-style: solid;
	border-color: var(--mantine-color-obsidian-7);
	border-radius: 4px;
	background-color: var(--mantine-color-obsidian-8);
	height: 41.47px;

	@include light {
		border-color: var(--mantine-color-gray-3);
		background-color: var(--mantine-color-white);
	}

	min-width: 220px;
	cursor: pointer;
	transition: border-color 150ms ease,
	background-color 150ms ease;

	&:hover {
		border-color: var(--mantine-color-obsidian-5);

		@include light {
			border-color: var(--mantine-color-gray-5);
		}
	}
}

.shortcut {
	border-color: var(--mantine-color-obsidian-6);
	background-color: var(--mantine-color-obsidian-7);

	@include light {
		border-color: var(--mantine-color-gray-4);
		background-color: var(--mantine-color-gray-1);
	}
}

.searchInput {
	border-width: 1px;
	border-style: solid;
	border-color: var(--mantine-color-obsidian-7);

	@include light {
		border-color: var(--mantine-color-gray-3);
	}

	a {
		transition: background-color 250ms ease, color 250ms ease;
	}

	a:hover {
		background-color: var(--mantine-color-obsidian-7);
		color: var(--mantine-color-black);

		@include light {
			background-color: var(--mantine-color-gray-1);
			color: var(--mantine-color-obsidian-0);
		}
	}
}