.search {
	border-width: 1px;
	border-style: solid;
	border-color: var(--mantine-color-obsidian-7);
	border-radius: 4px;
	background-color: var(--mantine-color-obsidian-8);

	@include light {
		border-color: var(--mantine-color-gray-3);
		background-color: var(--mantine-color-white);
	}

	min-width: 220px;
	cursor: pointer;
	transition: border-color 150ms ease,
	background-color 150ms ease;

	&:hover {
		border-color: var(--mantine-color-obsidian-5);

		@include light {
			border-color: var(--mantine-color-gray-5);
		}
	}
}

.search-screen {
	align-items: flex-start;
	padding-top: 10vh;
}

.search-input[data-expanded] {
	border-bottom: 1px solid var(--mantine-color-obsidian-7);

	@include light {
		border-bottom: 1px solid var(--mantine-color-obsidian-1);
	}
}

.search-list {
	border-width: 1px;
	border-style: solid;
	border-color: var(--mantine-color-obsidian-7);

	@include light {
		border-color: var(--mantine-color-gray-3);
	}

	button {
		transition: background-color 250ms ease, color 250ms ease;
		padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
	}

	button + button {
		border-top: 1px solid var(--mantine-color-obsidian-8);

		@include light {
			border-top: 1px solid var(--mantine-color-gray-1);
		}
	}

	button:hover,
	button[data-selected] {
		background-color: var(--mantine-color-obsidian-7);

		@include light {
			background-color: var(--mantine-color-obsidian-1);
		}
	}
}

.result-card {
	width: 100%;
}

.result-icon {
	flex-shrink: 0;
	padding-top: 2px;
	color: var(--mantine-color-dimmed);
}

.result-breadcrumb {
	line-height: 1.3;
	flex-wrap: nowrap;
	overflow: hidden;

	ol {
		flex-wrap: nowrap;
	}
}

.result-more {
	padding-left: calc(var(--mantine-spacing-sm) + 20px);
	border-left: 2px solid var(--mantine-color-obsidian-7);
	margin-left: 9px;

	@include light {
		border-left-color: var(--mantine-color-gray-3);
	}
}

.result-show-more {
	cursor: pointer;
	padding-left: calc(var(--mantine-spacing-sm) + 20px);
	margin-left: 9px;

	&:hover {
		text-decoration: underline;
	}
}

.result-snippet {
	:global(mark) {
		all: unset;
		color: var(--surreal-pink) !important;
		font-weight: 600;
	}
}
