.lang-sql .token.comment {
	color:#cccccc;
}

.lang-sql .token.keyword {
	color:#f27a02;
}

.lang-sql .token.null {
	color:#ff0000;
}

.lang-sql .token.void {
	color:#ff0000;
}

.lang-sql .token.boolean {
	 color:#00bfff;
}

.lang-sql .token.number {
	 color:#ff00fa;
}

.lang-sql .token.double {
	 color:#ff00fa;
}

.lang-sql .token.string {
	color:#00bfff;
}

.lang-sql .token.operator {
	color:#a000ff;
}

.lang-sql .token.model {
	color:#a1d106;
}

.lang-sql .token.regular {
	color:#a1d106;
}

.lang-sql .token.variable {
	color:#00d6c3;
}

.lang-sql .token.direction {
	color:#a1d106;
}

.lang-sql .token.punctuation {
	color:#000000;
}
