---
import type { LabelType } from './types';

type Props = {
    label: LabelType;
};

const { label } = Astro.props;
---

<style>
    .yellow {
        @apply border-label-yellow text-label-yellow;
    }
    .grey {
        @apply border-label-grey text-label-grey;
    }
    .purple {
        @apply border-label-purple text-label-purple;
    }

    @media (prefers-color-scheme: light) {
        .yellow {
            @apply bg-label-yellow text-black;
        }
        .grey {
            @apply bg-label-grey text-white;
        }
        .purple {
            @apply bg-label-purple text-white;
        }
    }
</style>

<span
    class:list={[
        'inline-flex h-6 items-center whitespace-nowrap rounded border px-2 font-mono text-xs uppercase leading-[0] float-none ml-2',
        {
            yellow: label.toLowerCase().startsWith('required') || label.toLowerCase().endsWith('required'),
            grey: label.toLowerCase().startsWith('optional'),
            purple: label.toLowerCase().endsWith('only'),
        },
    ]}
>
    {label}
</span>
