---
import type { StatusString } from './types';

type Props = {
    status: StatusString;
};

const { status } = Astro.props;
---

<style>
	@reference "@src/styles/global.css";
    .complete {
        @apply border-feature-complete text-feature-complete;
    }
    .beta {
        @apply border-feature-beta text-feature-beta;
    }
    .planned {
        @apply border-feature-planned text-feature-planned;
    }
    .future {
        @apply border-feature-future text-feature-future;
    }

    @media (prefers-color-scheme: light) {
        .complete {
            @apply bg-feature-complete text-white;
        }
        .beta {
            @apply bg-feature-beta text-white;
        }
        .planned {
            @apply bg-feature-planned text-white;
        }
        .future {
            @apply bg-feature-future text-white;
        }
    }
</style>

<span
    class:list={[
        'flex h-5 items-center whitespace-nowrap rounded border px-1.5 font-mono text-[0.8rem] uppercase leading-[0]',
        {
            complete: status == 'complete' || status == 'available',
            beta: status == 'beta',
            planned: status.startsWith('planned') || status == 'coming soon',
            future: status == 'future' || status == 'in development',
        },
    ]}
>
    {status}
</span>
