---
type Props = Record<string | number | symbol, unknown>;
---

<responsive-table class="contents">
    <table {...Astro.props}>
        <slot />
    </table>
</responsive-table>

<script>
    class ResponsiveTable extends HTMLElement {
        connectedCallback() {
            const headRow = this.querySelector('thead tr');
            const tbody = this.querySelector('tbody');

            if (headRow && tbody) {
                const headCells = Array.from(headRow.children);
                const bodyRows = Array.from(tbody.children);

                bodyRows.forEach(row => {
                    const cells = Array.from(row.children);

                    cells.forEach((cell, index) => {
                        cell.setAttribute('data-label', headCells[index].textContent ?? '');
                    });
                });
            }
        }
    }

    customElements.define('responsive-table', ResponsiveTable);
</script>
