/**
 * This file serves as an entry point for all partial styles.
 * It imports all the necessary CSS files that serves under the base layer.
 * This allows for better organization and modularity of styles.
 * 
 * However, there is an exception if you want to target specific elements to
 * apply styles to, you can define them here as well.
 */

@import "./input.css";
@import "./scrollbar.css";
@import "./button.css";
@import "./gradient.css";

/** ========================================================================== */
/** ========================================================================== */

label:has(input) > span {
	user-select: none;
}

a:focus-visible,
input:focus-visible,
button:focus-visible {
	@apply outline-surreal-pink outline-2;
}