*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 10px;
	border: 2px solid transparent;
  	background-clip: content-box;
}

/* Show scrollbar on hover */
*:hover::-webkit-scrollbar-thumb {
	@apply bg-faint/30 ;
}

*:hover::-webkit-scrollbar-thumb:hover {
	@apply bg-faint/60;
}