.layout {
	display: grid;
	grid-template-columns: 280px 1fr 1fr;
	grid-template-rows: 56px 1fr;
	background-color: var(--mantine-color-obsidian-9) !important;
	height: 100vh;

	>header {
		grid-column: 1 / 4;
		grid-row: 1;
	}

	>div {
		grid-column: 1;
		grid-row: 2;

		>nav {
			max-height: calc(100vh - 56px - 36.5px - 2rem);
			overflow-y: auto;
			overflow-x: hidden;

			a {
				transition: background-color 250ms ease, color 250ms ease;
			}

			a[data-variant="subtle"]:hover {
				background-color: rgba(from var(--mantine-color-obsidian-8) r g b / 0.8) !important;
				color: var(--mantine-color-obsidian-0) !important;
			}
		}
	}

	>div:last-child {
		grid-column: 2 / 4;
		grid-row: 2;
		border: 1px solid var(--mantine-color-obsidian-7);
		padding-top: 2rem;
		border-radius: var(--mantine-radius-md);
		max-height: calc(100vh - 56px - 1rem);
		overflow-y: auto;
		margin-right: 1rem;
		background-color: rgba(from var(--mantine-color-obsidian-8) r g b / 0.4);
	}

	aside {
		width: 260px;

		>ul {
			list-style: none;
			max-height: 250px;
			overflow-y: auto;
			overflow-x: hidden;
		}
	}

	footer {
		border-top: 1px solid var(--mantine-color-obsidian-7);
		margin-top: 2rem;
	}

	main+div {
		border-top: 1px solid var(--mantine-color-obsidian-7);
		padding-top: 2rem;
	}
}

.pageNavigation {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--mantine-spacing-md);
}

.pageNavigationLink {
	border-radius: 4px !important;
	border: 1px solid var(--mantine-color-obsidian-7) !important;
	padding: 8px 12px !important;
	transition: background-color 250ms ease, color 250ms ease;

	&:hover {
		background-color: rgba(from var(--mantine-color-obsidian-8) r g b / 0.8) !important;
		color: var(--mantine-color-obsidian-0) !important;
	}

	&:active {
		background-color: rgba(from var(--mantine-color-obsidian-8) r g b / 0.8) !important;
		color: var(--mantine-color-obsidian-0) !important;
	}
}

.fullWidthLayout {
	display: grid;
	grid-template-rows: 56px 1fr 66px;

	>header {
		border-bottom: 1px solid var(--mantine-color-obsidian-7);
	}

	>footer {
		border-top: 1px solid var(--mantine-color-obsidian-7);
		padding-inline: var(--mantine-spacing-xl);
	}
}