.main {
	display: flex;
	flex-direction: column;
}

.app {
	--border-color: var(--mantine-color-obsidian-7);

	> header {
		border-bottom: 1px solid var(--border-color);
	}

	> nav {
		border-right: 1px solid var(--border-color);
	}

	> main footer {
		border-top: 1px solid var(--border-color);
		margin-top: 4rem !important;
	}
}

.app > main footer a:hover {
	text-decoration: underline;
}

.nav-link {
	transition: opacity 150ms ease;
	white-space: nowrap;

	&:hover {
		opacity: 0.8;
	}
}

.section-title {
	letter-spacing: 0.05em;
	user-select: none;
}

.breadcrumbs {
	--bc-separator-color: var(--mantine-color-dimmed);
}

.copy-page-button {
	border-radius: 4px;
	flex-shrink: 0;
	border: 1px solid var(--mantine-color-obsidian-7) !important;
}

.copy-page-dropdown {
	background-color: var(--mantine-color-obsidian-8) !important;
	border: 1px solid var(--mantine-color-obsidian-7) !important;
}

.copy-page-menu-item {
	padding: var(--mantine-spacing-sm) var(--mantine-spacing-md) !important;
	border-radius: 4px !important;
	transition: border-color 150ms ease;

	&:hover {
		background-color: var(--mantine-color-obsidian-6) !important;
	}
}

.page-navigation {
	padding-top: var(--mantine-spacing-lg);
	display: flex;
}

.page-navigation-link {
	padding: var(--mantine-spacing-md) var(--mantine-spacing-md) !important;
	border-radius: var(--mantine-radius-md) !important; 
	border: 1px solid var(--mantine-color-obsidian-7) !important;
	transition: border-color 150ms ease !important;
	flex: 1 !important;

	&:hover {
		border-color: var(--mantine-color-obsidian-5) !important;
	}
}