.layout {
	display: grid;
	grid-template-columns: 280px 1fr 1fr;
	grid-template-rows: 56px 1fr;

	>header {
		grid-column: 1 / 4;
		grid-row: 1;
	}

	>div {
		grid-column: 1;
		grid-row: 2;

		>nav {
			max-height: calc(100vh - 56px - 36.5px - 2rem);
			overflow-y: auto;
			overflow-x: hidden;
		}
	}

	>div:last-child {
		grid-column: 2 / 4;
		grid-row: 2;
		border: 1px solid var(--mantine-color-obsidian-7);
		padding-top: 2rem;
		background-color: var(--mantine-color-obsidian-9);
		border-radius: var(--mantine-radius-md);
		max-height: calc(100vh - 56px - 1rem);
		overflow-y: auto;
		margin-right: 1rem;
		background-color: rgba(from var(--mantine-color-obsidian-8) r g b / 0.4);
	}

	aside {
		width: 260px;

		>ul {
			list-style: none;
			max-height: 250px;
			overflow-y: auto;
			overflow-x: hidden;
		}
	}

	footer {
		border-top: 1px solid var(--mantine-color-obsidian-7);
		margin-top: 2rem;
	}
}