---
import { cn } from '@src/util/tailwind';

type Props = {
    class?: string;
    href?: string;
    target?: string;
    rel?: string;
};

const { href } = Astro.props;
---

<a
    href={href}
    class={cn(
        "group border border-border hover:border-border !mb-0 overflow-hidden rounded-lg p-6",
        // Transition
        "transition-all duration-300",
        // Background
        "gradient-background",
        "hover:from-background-secondary/90 hover:to-background-secondary/40",
        // Based on variant
        "!text-text hover:!text-surreal-pink !no-underline",
		Astro.props.class
    )}
>
	<slot />
</a>