---
import { cn } from '@src/util/tailwind';

interface Props {
    columns?: 2 | 3;
    class?: string;
    wider?: boolean;
}

const columns = Astro.props.columns ?? 2;
const { wider } = Astro.props;
---

<style>
    .cols-2 {
        @apply md:grid-cols-2 lg:grid-cols-1 2xl:grid-cols-2;
    }

    .cols-2.wider {
        @apply sm:grid-cols-2 lg:grid-cols-2;
    }

    .cols-3.wider {
        @apply sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3;
    }
</style>

<div class={cn(['grid gap-x-6 gap-y-6 mb-12', `cols-${columns}`, { wider }, Astro.props.class])}>
    <slot />
</div>
