---
import Image, { type Props as ImageProps } from '@components/Image.astro';
import { cn } from '@src/util/tailwind';

type Props = {
    class?: string;
    icon: ImageProps['src'];
    title?: string;
    href?: string;
};

const { icon, title, href } = Astro.props;
---

<a
    href={href}
    class={cn(
		"w-[3.25rem] transition-transform duration-200",
		"hover:scale-105",
		"active:translate-y-1",
        Astro.props.class
    )}
>
	<Image 
		class={cn("aspect-square transition-transform duration-200 group-hover:scale-105")} 
		src={icon} 
		alt={title ?? "Icon"} 

	/>
</a>