.link {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    margin-bottom: 1px;
}

.linkicon {
    margin-bottom: 3px;
    stroke-width: 2;
}

.modal {
    width: 90%;
    height: 90%;
    max-width: 1000px;
    max-height: 800px;
    border-radius: 0;
    border: none;
    flex-direction: column;
    padding: 0px;
    overflow: hidden;
    opacity: 0;
    display: flex;
    pointer-events: none;
    top: 10vh;
    transition: top .2s ease .075s, opacity .2s ease;
}

.modal[open] {
    opacity: 1;
    pointer-events: all;
    top: 0px;
    transition: top .2s ease, opacity .3s ease;
}

.modal::backdrop {
    pointer-events: none;
    opacity: 0.5;
    display: block;
    background-color:rgba(0, 0, 0, 0.8);
	-webkit-backdrop-filter:blur(10px);
	-moz-backdrop-filter:blur(10px);
	-ms-backdrop-filter:blur(10px);
	backdrop-filter:blur(10px);
	background:rgba(0, 0, 0, 0.3);
	background:radial-gradient(
		ellipse at 50% 20%,
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.7),
	);
}

.input {
    font-size: 1.25em;
    width: 100%;
    padding: 25px 35px;
    font-size: 1.5em;
    font-weight: 600;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    outline-color: #ff009e;
}

[data-theme='light'] .input {
    background-color: #f5f5f7;
}

.results {
    overflow-y: auto;
}
  
.result {
    padding: 1em 1em;
    display: block;
    transition: background .1s ease;
}

.result:hover {
    background: rgba(255, 255, 255, 0.075)
}

.result:hover .title {
    color: #ff009e;
}

.title {
    font-size: 1.5em;
    text-transform: capitalize;
    margin-bottom: 0;
    color: #000000;
    margin-bottom: 0.1em;
    transition: color .1s ease;
}

.url {
    font-size: 0.75em;
    margin-bottom: 0;
    margin-bottom: 0.75em;
}

.match {
    font-size: 0.9em;
    overflow: hidden;
    margin-bottom: 0px;
    display: -webkit-box;
    line-clamp: 2; 
    -webkit-line-clamp: 2; /* number of lines to show */    
    -webkit-box-orient: vertical;
}

.empty {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

[data-theme='dark'] .empty {
    background-color: #151517;
}

[data-theme='light'] .empty {
    background-color: white;
}