.link {
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.linkicon {
    margin-bottom: 4px;
}

.modal {
    width: 90%;
    height: 90%;
    max-width: 1000px;
    max-height: 800px;
    border-radius: 10px;
    border: none;
    flex-direction: column;
    padding: 0px;
    overflow: hidden;
    opacity: 0;
    display: flex;
    pointer-events: none;
    top: 10vh;
    transition: top .2s ease .075s, opacity .2s ease;
}

.modal[open] {
    opacity: 1;
    pointer-events: all;
    top: 0px;
    transition: top .2s ease, opacity .3s ease;
}

.modal::backdrop {
    pointer-events: none;
    opacity: 0.5;
    background-color: #000;
    display: block;
}

.input {
    font-size: 1.25em;
    width: 100%;
    padding: 25px 35px;
    font-size: 1.5em;
    font-weight: 600;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    outline-color: #ff009e;
}

.results {
    overflow-y: auto;
}
  
.result {
    padding: 1em 1em;
    display: block;
    transition: background .1s ease;
}

.result:hover {
    background: rgba(255, 255, 255, 0.075)
}

.result:hover .title {
    color: #ff009e;
}

.title {
    font-size: 1.5em;
    text-transform: capitalize;
    margin-bottom: 0;
    color: white;
    margin-bottom: 0.1em;
    transition: color .1s ease;
}

.url {
    font-size: 0.75em;
    margin-bottom: 0;
    margin-bottom: 0.75em;
}

.match {
    font-size: 0.9em;
    overflow: hidden;
    margin-bottom: 0px;
    display: -webkit-box;
    line-clamp: 2; 
    -webkit-line-clamp: 2; /* number of lines to show */    
    -webkit-box-orient: vertical;
}

.empty {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}