.modal {
    width: 60%;
    height: 60%
}

.input {
    font-size: 1.25em;
    width: 100%;
}
  
.result {
    margin-top: 1em;
}

.title {
    font-size: 1.2em;
    text-transform: capitalize;
    margin-bottom: 0;
}

.url {
    font-size: 0.75em;
    margin-bottom: 0;
}

.match {
    font-size: 0.9em;
    line-height: 1.25em;
    max-height: calc(1.2em * 2); /* Display a maximum of 2 lines */
    overflow: hidden;
}