.trigger {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 8px 12px;
	border-radius: var(--mantine-radius-xs);
	border: 1px solid var(--mantine-color-obsidian-7);
	border-left: 3px solid var(--surreal-color-primary);
	background-color: transparent;
	color: var(--mantine-color-bright);
	cursor: pointer;
	transition: background-color 200ms ease;

	@include light {
		border-color: var(--mantine-color-gray-4);
		border-left-color: var(--surreal-color-primary);
	}

	&:hover {
		background-color: rgba(from var(--mantine-color-obsidian-8) r g b / 0.6);

		@include light {
			background-color: var(--mantine-color-gray-1);
		}
	}
}

.dropdown {
	border-color: var(--mantine-color-obsidian-7);
	background-color: var(--mantine-color-obsidian-9);

	@include light {
		border-color: var(--mantine-color-gray-3);
		background-color: var(--mantine-color-white);
	}
}

.active-item {
	color: var(--surreal-color-primary);
}