:root {
  // black-white & black-white-reverse
  --color-bw: 255, 255, 255;
  --color-bwr: 0, 0, 0;

  --color-background-primary: 255, 255, 255;
  --color-background-secondary: 245, 245, 247;
  --color-background-tertiary: 255, 255, 255;

  --color-text: 0, 0, 0;
  --color-code: 245, 245, 247;
  --color-border: 225, 225, 225;
  --color-faint: 89, 89, 89;
  --color-footer: rgba(0, 0, 0, 0.03);

  --color-dropdown-background: 245, 245, 247;
  --color-dropdown-backdrop: rgba(0, 0, 0, 0.08);

  --color-feature-complete: 82, 180, 65;
  --color-feature-beta: 245, 187, 64;
  --color-feature-planned: 157, 47, 255;
  --color-feature-future: 255, 0, 157;

  --color-hover: 255, 0, 160;
  --color-surreal-pink: 255, 0, 160;
  --color-surreal-purple: 150, 0, 255;

  --color-quote-note: 25, 119, 250;
  --color-quote-important: 137, 87, 229;
  --color-quote-warning: 255, 222, 2;
  --color-quote-caution: 218, 54, 51;

  --color-label-yellow: 255, 222, 2;
  --color-label-grey: 128, 128, 128;
  --color-label-purple: 158, 47, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bw: 0, 0, 0;
    --color-bwr: 255, 255, 255;

    --color-background-primary: 0, 0, 0;
    --color-background-secondary: 25, 25, 29;
    --color-background-tertiary: 11, 11, 12;

    --color-text: 255, 255, 255;
    --color-code: 21, 21, 23;
    --color-border: 30, 35, 39;
    --color-faint: 166, 166, 166;
    --color-footer: rgba(0, 0, 0, 0.3);

    --color-feature-complete: 0, 255, 110;
    --color-feature-beta: 255, 221, 0;

    --color-dropdown-background: 17, 17, 20;
    --color-dropdown-backdrop: rgba(255, 255, 255, 0.05);
  }
}
