:root {
  // black-white & black-white-reverse
  --color-bw: 255, 255, 255;
  --color-bwr: 0, 0, 0;

  --color-background-primary: 255, 255, 255;
  --color-background-secondary: 245, 245, 247;
  --color-background-tertiary: 255, 255, 255;

  --color-text: 0, 0, 0;
  --color-code: 245, 245, 247;
  --color-border: 225, 225, 225;
  --color-faint: 89, 89, 89;
  --color-footer: rgba(0, 0, 0, 0.03);

  --color-dropdown-background: 245, 245, 247;
  --color-dropdown-backdrop: rgba(0, 0, 0, 0.08);

  --color-feature-complete: 82, 180, 65;
  --color-feature-beta: 245, 187, 64;
  --color-feature-planned: 157, 47, 255;
  --color-feature-future: 255, 0, 157;

  --color-hover: 255, 0, 160;
  --color-surreal-pink: 255, 0, 160;
  --color-surreal-purple: 150, 0, 255;

  --color-quote-note: 25, 119, 250;
  --color-quote-important: 137, 87, 229;
  --color-quote-warning: 255, 222, 2;
  --color-quote-caution: 218, 54, 51;

  --color-label-yellow: 255, 222, 2;
  --color-label-grey: 128, 128, 128;
  --color-label-purple: 158, 47, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bw: 0, 0, 0;
    --color-bwr: 255, 255, 255;

    --color-background-primary: 14, 12, 20;
    --color-background-secondary: 21, 19, 29;
	--color-background-tertiary: 14, 12, 20;

    --color-text: 255, 255, 255;
    --color-code: 21, 19, 29;
    --color-border: 36, 33, 51;
    --color-faint: 173, 168, 195;
    --color-footer: 14, 12, 20;

    --color-feature-complete: 0, 255, 110;
    --color-feature-beta: 255, 221, 0;

    --color-dropdown-background: 17, 17, 20;
    --color-dropdown-backdrop: rgba(255, 255, 255, 0.05);

	--color-feature-complete: 121, 205, 106;
	--color-feature-beta: 245, 187, 64;
	--color-feature-planned: 188, 127, 255;
	--color-feature-future: 255, 0, 157;
  }
}

.gradient-background {
	background: linear-gradient(
		to bottom,
		rgba(var(--color-background-tertiary), 1),
		rgba(var(--color-background-secondary), 1)
	);
}

.gradient-background-reversed {
	background: linear-gradient(
		to bottom,
		rgba(var(--color-background-secondary), 1),
		rgba(var(--color-background-tertiary), 1)
	);
}

.gradient-button {
	@apply inline-flex gap-1.5 items-center justify-center text-sm px-4 py-2 font-medium bg-gradient-to-r from-surreal-pink to-surreal-purple rounded-lg border-white/30 border bg-origin-border transition-colors text-white;
	@apply hover:no-underline !important;

	p {
		@apply text-white mb-0 !important;
	}

	svg {
		@apply text-white;
	}
}

.outline-button {
	@apply inline-flex gap-1.5 items-center justify-center text-sm px-4 py-2 font-medium rounded-lg transition-colors border-[1.5px] border-bwr/30 hover:bg-bwr hover:border-bwr hover:text-bw bg-background-tertiary;
	@apply hover:no-underline !important;

	p, svg {
		@apply mb-0 text-black dark:text-white transition-colors !important;
	}

	&:hover {
		p, svg {
		@apply text-white dark:text-black !important;
	}
	}
}