input[type="checkbox"] {
  	-webkit-appearance: none;
	appearance: none;

	@apply bg-background-secondary border border-border size-5 relative;
}

input[type="checkbox"]:checked {
	@apply bg-surreal-pink;
}

/** a checkmark when checked **/
input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 60%;
    height: 30%;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

label:has(input) > span {
	user-select: none;
}

a:focus-visible,
input:focus-visible,
button:focus-visible {
	@apply outline outline-surreal-pink outline-2;
}