:root {
	color-scheme: light dark;
}

@theme {
	--color-bw: light-dark(#fff, #000);
	--color-bwr: light-dark(#000, #fff);
 
	--color-background-primary: light-dark(#fff, #0e0c14);
	--color-background-secondary: light-dark(#f5f5f7, #15131d);
	--color-background-tertiary: light-dark(#fff, #0e0c14);

	--color-text: light-dark(#000, #fff);
	--color-code: light-dark(#f5f5f7, #15131d);
	--color-border: light-dark(#fff, #242133);
	--color-faint: light-dark(#595959, #ada8c3);
	--color-footer: light-dark(#00000008, #0e0c14);
	--color-hover: #ff00a0;

	--color-dropdown-background: light-dark(#f5f5f7, #111114);
	--color-dropdown-backdrop: light-dark(#00000014, #ffffff0d);

	--color-feature-complete: light-dark(#52b441, #00ff6e);
	--color-feature-beta: light-dark(#f5bb36, #ffdd00);
	--color-feature-planned: light-dark(#9d2fff, #bc7fff);
	--color-feature-future: #ff009d;

	--color-surreal-pink: #ff00a0;
	--color-surreal-purple: #9600ff;

	--color-quote-note: #1977fa;
	--color-quote-important: #8957e5;
	--color-quote-warning: #ffde02;
	--color-quote-caution: #da3633;

	--color-label-yellow: #ffde02;
	--color-label-grey: #808080;
	--color-label-purple: #9e2fff;
}

.gradient-background {
	background: linear-gradient(
		to bottom,
		rgba(var(--color-background-tertiary), 1),
		rgba(var(--color-background-secondary), 1)
	);
}

.gradient-background-reversed {
	background: linear-gradient(
		to bottom,
		rgba(var(--color-background-secondary), 1),
		rgba(var(--color-background-tertiary), 1)
	);
}

.gradient-button {
	@apply inline-flex gap-1.5 items-center justify-center text-sm px-4 py-2 font-medium bg-gradient-to-r from-surreal-pink to-surreal-purple rounded-lg border-white/30 border bg-origin-border transition-colors text-white;
	@apply hover:no-underline !important;

	p {
		@apply text-white mb-0 !important;
	}

	svg {
		@apply text-white;
	}
}

.outline-button {
	@apply inline-flex gap-1.5 items-center justify-center text-sm px-4 py-2 font-medium rounded-lg transition-colors border-[1.5px] border-bwr/30 hover:bg-bwr hover:border-bwr hover:text-bw bg-background-tertiary;
	@apply hover:no-underline !important;

	p, svg {
		@apply mb-0 text-black dark:text-white transition-colors !important;
	}

	&:hover {
		p, svg {
			@apply text-white dark:text-black !important;
		}
	}
}