:root {
	color-scheme: light dark;
}

@theme {
	--color-bw: light-dark(#fff, #000);
    --color-bwr: light-dark(#000, #fff);

    --color-background-primary: light-dark(#fff, #0e0c14);
    --color-background-secondary: light-dark(#fbfbf9, #15131d);
    --color-background-tertiary: light-dark(#fff, #0e0c14);

	--color-text: light-dark(#1d1d1d, #fff);
    --color-code: light-dark(#fcfcfc, #15131d);
    --color-border: light-dark(#e2e4e7, #242132);
    --color-faint: light-dark(#6d7889, #aca6c2);

	--color-dropdown-background: light-dark(#f5f5f7, #111114);
	--color-dropdown-backdrop: light-dark(#00000014, #ffffff0d);
  
	--color-feature-complete: light-dark(#52b441, #79cd6a);
	--color-feature-beta: #f5bb40;
	--color-feature-planned: light-dark(#9d2fff, #bc7fff);
	--color-feature-future: #ff009d;
  
	--color-hover: #ff00a0;
	--color-surreal-pink: #ff00a0;
	--color-surreal-purple:#9600ff;
  
	--color-quote-note: #1977fa;
	--color-quote-important: #8957e5;
	--color-quote-warning: #ffde02;
	--color-quote-caution: #da3633;
  
	--color-label-yellow: #ffde02;
	--color-label-grey: #808080;
	--color-label-purple: #9e2fff;

	--breakpoint-xs: 390px;

	--color-tok-keyword: light-dark(#d80086, #ff009e);
	--color-tok-operator: light-dark(#bf00bf, #ff00ff);
	--color-tok-number: light-dark(#00a8d4, #00dbff);
	--color-tok-string: light-dark(#00bf52, #00ff6e);
	--color-tok-comment: #737e98;
	--color-tok-propertyName: #e06c75;
	--color-tok-variableName: light-dark(#bfa600, #ffde00);
	--color-tok-punctuation: light-dark(#000, #fff);
	--color-tok-function: light-dark(#ff600d, #ff9b67);
	--color-tok-null: light-dark(#bf00bf, #9d2fff);
	--color-tok-bool: light-dark(#bf00bf, #9d2fff);
	--color-tok-name: light-dark(#000, #fff);
	--color-tok-typeName: light-dark(#bfa600, #ffde00);
	--color-tok-literal: light-dark(#bf00bf, #9d2fff);
	--color-tok-className: light-dark(#0062bf, #0084ff);

	--color-language-surql: light-dark(#000, #fff);
}