---
import { examplePageConfig } from '@config/pages/example';
import FilterDocsItem from './FilterDocsItem.astro';
import FilterDocsSidebar from './FilterDocsSidebar.astro';
import { readdirSync } from 'node:fs';
import { resolve, dirname } from 'node:path';
import { fileURLToPath } from "node:url";

const { categories, dataByCategory } = examplePageConfig;

// Flatten the data so that each item also records its category.
const allItems = categories.flatMap((category) => {
    const items = dataByCategory[category] ?? [];
    return items.map((item) => ({ ...item, category }));
});

// Get the directory name of the current module file
const __filename = fileURLToPath(import.meta.url);
const __dirname = dirname(__filename);

const authorImagesPath = resolve(__dirname, '../../assets/img/examples/authors');
const authorImages = readdirSync(authorImagesPath, { recursive: false });

const imageMap: Map<string, Promise<ImageMetadata>> = new Map();

for(const image of authorImages as string[]) {
	const imagePath = resolve(authorImagesPath, image);
	const meta = import(imagePath).then((mod) => mod.default as ImageMetadata);
	const name = image.replace(/\.[^/.]+$/, '');
	imageMap.set(name, meta);
}
---

<h1 class="text-3xl font-bold mb-4">Examples</h1>
<p class="text-gray-600 mb-8">
  Discover the magic of SurrealDB with our examples by your side. From beginner to expert, embark on a journey of exploration, learning, and collaboration.
</p>
<p class="text-gray-600 mb-6">
    In this page, you can find a list of the SurrealDB ecosystem, including client libraries, management interfaces, development tools, and more. Discover the tools and resources that can help you build, manage, and extend your SurrealDB applications.
  </p>
<hr class="border-b border-border my-8" role="separator" aria-orientation="horizontal" />
<div class="flex flex-col md:flex-row gap-8">

	<!-- Sidebar Filter -->
  	<FilterDocsSidebar categories={categories} />

    <!-- Grid of Links -->
    <main class="flex-1 p-6 grid sm:grid-cols-2 xl:grid-cols-3 gap-4 max-md:justify-stretch md:justify-center h-fit">
      {allItems.map((item) => <FilterDocsItem item={item} imageMap={imageMap} />)}
    </main>
      
  </div>