.hero {
	text-align: center;
	padding-block: 3rem 2rem;
}

.product-card,
.sdk-card,
.resource-card {
	display: flex;
	padding: var(--mantine-spacing-lg);
	gap: var(--mantine-spacing-md);

	@include light {
		background: rgba(from var(--mantine-color-gray-1) r g b / 0.6) !important;
	}

	cursor: pointer;
	transition: background-color 200ms ease,
	transform 200ms ease,
	filter 200ms ease;
	height: 100%;

	&:hover {
		filter: brightness(1.15);
		background-color: var(--mantine-color-obsidian-5);
		transform: translateY(-2px);

		@include light {
			filter: brightness(0.97);
		}
	}
}

.product-card,
.resource-card {
	align-items: flex-start;
}

.sdk-card {
	flex-direction: column;
}

.sdk-card {
	justify-content: center;
	align-items: center;
	text-align: center;
}