.icon-box {
	display: flex;
	flex-direction: column;
	padding: var(--mantine-spacing-md);
	border-radius: var(--mantine-radius-xs);
	overflow: hidden;
	margin-bottom: 0;
	transition: all 200ms ease;
	color: var(--mantine-color-text);
	background: var(--mantine-color-obsidian-8);

	@include light {
		background: var(--mantine-color-gray-0);
	}

	&[data-has-href] {
		cursor: pointer;

		&:hover {
			color: var(--surreal-color-primary);
			background: var(--mantine-color-obsidian-7);

			@include light {
				background: var(--mantine-color-gray-1);
			}

			.description {
				color: var(--mantine-color-text);
			}
		}
	}

	&[data-only-icon] {
		aspect-ratio: 1;
		padding: var(--mantine-spacing-sm);
		align-items: center;
		justify-content: center;
	}
}

a.icon-box {
	text-decoration: none !important;
	color: inherit !important;
}

.icon-wrapper {
	position: relative;
	width: 32px;
	min-width: 32px;
	height: 32px;
}

.light-icon {
	display: block;
	border-radius: 0;

	@include dark {
		display: none;
	}
}

.dark-icon {
	display: none;
	border-radius: 0;

	@include dark {
		display: block;
	}
}

.status {
	flex-shrink: 0;
}

.description {
	transition: color 200ms ease;
}