---
import SurrealistMini from '@components/SurrealistMini.astro';
import BaseLayout from '@components/layout/BaseLayout.astro';
---

<BaseLayout
    title="SurrealDB | Page Not Found"
    description="The page you requested could not be found."
    footerBgMonochrome
>
    <div class="bg-background flex-grow">
        <div class="flex flex-col justify-center gap-8 px-16 py-24">
            <h1 class="text-3xl md:text-4xl lg:text-6xl font-normal">
                Oops, we couldn't find that page
            </h1>
            <p class="text-lg sm:text-xl text-text/60 font-normal">
                While you're here, try some queries on Surrealist
            </p>
            <SurrealistMini
                url="https://surrealist.app/mini?dataset=surreal-deal&query=%2F%2Fshow+complete+information+for+database+%0AINFO+FOR+DB%3B+%0A%0A%2F%2F+Select+all+from+artist+table+%0ASELECT+*+FROM+artist%3B%0A%0A%2F%2F+Select+specific+field+within+table+%0ASELECT+address.city+FROM+artist+%0A%0A%2F%2F+Add+your+queries+%F0%9F%98%83%0A%0A"
            />
        </div>
    </div>
</BaseLayout>
