---
import SurrealistMini from '@components/SurrealistMini.astro';
import BaseLayout from '@components/layout/BaseLayout.astro';
import Footer from '@src/components/layout/Footer/Footer.astro';
---

<BaseLayout
    title="SurrealDB | Page Not Found"
    description="The page you requested could not be found."
>
    <div class="bg-background container mx-auto flex-grow border-x border-border">
        <div class="flex flex-col items-center justify-center gap-8 py-24">
            <h1 class="text-3xl md:text-4xl lg:text-6xl">
                Oops, we couldn't find that page
            </h1>
            <p class="text-lg sm:text-xl text-text/60 font-normal">
                While you're here, try some queries on Surrealist
            </p>
        </div>
		<div class="border-t border-border">
			<SurrealistMini
				class="rounded-none"
                url="https://surrealist.app/mini?query=%2F%2F+Select+all+product+names%0ASELECT+name+FROM+product%3B%0A%0A%2F%2F+Select+most+recently+updated+products%0ASELECT+*+FROM+product+ORDER+BY+time.updated_at+DESC+LIMIT+3%3B%0A%0A%2F%2F+Write+your+own+queries%21+%F0%9F%98%83%0A&dataset=surreal-deal-store"
			/>
		</div>
    </div>
	<Footer footerBgMonochrome />
</BaseLayout>
