---
import BaseLayout from '@src/components/layout/BaseLayout.astro';
import Boxes from '@src/components/boxes/Boxes.astro';
import IconBox from "@components/boxes/IconBox.astro";

import LightRust from "@img/light/rust.png";
import LightJavascript from "@img/light/javascript.png";
import LightTypescript from "@img/light/typescript.png";
import LightPhp from "@img/light/php.png";
import LightPython from "@img/light/python.png";
import LightNodejs from "@img/light/nodejs.png";
import LightDotnet from "@img/light/dotnet.png";
import LightGolang from "@img/light/golang.png";
import LightJava from "@img/light/java.png";

import DarkRust from "@img/rust-icon.png";
import DarkJavascript from "@img/javascript-icon.png";
import DarkTypescript from "@img/typescript.png";
import DarkPhp from "@img/php-icon.png";
import DarkPython from "@img/python-icon.png";
import DarkNodejs from "@img/node-icon.png";
import DarkDotnet from "@img/dotnet-icon.png";
import DarkGolang from "@img/golang-icon.png";
import DarkJava from "@img/java-icon.png";

import LightSurrealDB from '@img/light/surreal.png';
import LightSurrealQL from '@img/light/surreal.png';
import LightSurrealist from '@img/light/surreal.png';
import LightSurrealML from '@img/light/doc-surrealml.png';

import DarkSurrealDB from '@img/doc-surrealdb.png';
import DarkSurrealQL from '@img/surreal-icon.png';
import DarkSurrealist from '@img/doc-surrealist.png';
import DarkSurrealML from '@img/doc-surrealml.png';
---

<BaseLayout>
    <div class="flex flex-grow justify-center">
        <div class="max-w-screen-xl min-w-0 py-16 px-8 space-y-16 flex-grow">
            <div class="space-y-4 lg:pt-8">
                <h1 class="text-5xl sm:text-6xl lg:text-7xl font-thin leading-11">
                    SurrealDB <br />
                    Documentation
                </h1>
                <p class="md:w-2/3 lg:w-1/2 font-extralight text-text/60">
                    Learn how to get up and running with SurrealDB through tutorials, APIs and platform resources.
                </p>
            </div>
            <div class="space-y-4">
                <h1 class="text-4xl font-thin">
                    Getting Started
                </h1>
                <p class="md:w-2/3 lg:w-1/2 font-extralight text-text/60">
                    Discover how to set up a database to an app making queries in just a few minutes.
                </p>
                <div class="flex gap-4 pt-2 flex-wrap">
                    <IconBox
                        href="/docs/sdk/rust"
                        icon={{ light: LightRust, dark: DarkRust }}
                    />
                    <IconBox
                        href="/docs/sdk/javascript"
                        icon={{ light: LightJavascript, dark: DarkJavascript }}
                    />
                    <IconBox
                        href="/docs/sdk/javascript/core/initialization"
                        icon={{ light: LightTypescript, dark: DarkTypescript }}
                    />
                    <IconBox
                        href="/docs/sdk/php"
                        icon={{ light: LightPhp, dark: DarkPhp }}
                    />
                    <IconBox
                        href="/docs/sdk/python"
                        icon={{ light: LightPython, dark: DarkPython }}
                    />
                    <IconBox
                        href="/docs/sdk/nodejs"
                        icon={{ light: LightNodejs, dark: DarkNodejs }}
                    />
                    <IconBox
                        href="/docs/sdk/dotnet"
                        icon={{ light: LightDotnet, dark: DarkDotnet }}
                    />
                    <IconBox
                        href="/docs/sdk/golang"
                        icon={{ light: LightGolang, dark: DarkGolang }}
                    />
                    <IconBox
                        href="/docs/sdk/java"
                        icon={{ light: LightJava, dark: DarkJava }}
                    />
                </div>
            </div>
            <div class="space-y-4">
                <h1 class="text-4xl font-thin">
                    Products
                </h1>
                <Boxes wider class="pt-2">
                    <IconBox
                        title="SurrealDB"
                        description="Learn how to build a user management app with Flutter and Supabase Database, Auth, and Storage functionality."
                        href="/docs/surrealdb"
                        icon={{ light: LightSurrealDB, dark: DarkSurrealDB }}
                    />
                    <IconBox
                        title="SurrealQL"
                        description="Learn how to build a user management app with Flutter and Supabase Database, Auth, and Storage functionality."
                        href="/docs/surrealql"
                        icon={{ light: LightSurrealQL, dark: DarkSurrealQL }}
                    />
                    <IconBox
                        title="Surrealist"
                        description="Learn how to build a user management app with Flutter and Supabase Database, Auth, and Storage functionality."
                        href="/docs/surrealist"
                        icon={{ light: LightSurrealist, dark: DarkSurrealist }}
                    />
                    <IconBox
                        title="SurrealML"
                        description="Learn how to build a user management app with Flutter and Supabase Database, Auth, and Storage functionality."
                        href="/docs/surrealml"
                        icon={{ light: LightSurrealML, dark: DarkSurrealML }}
                    />
                </Boxes>
            </div>
            <div class="space-y-4">
                <h1 class="text-4xl font-thin">
                    Client Libraries
                </h1>
                <Boxes columns={3} wider class="pt-2">
                    <IconBox
                        title="Rust"
                        status="available"
                        description="Learn how to build a user management app with Flutter and Supabase Database, Auth, and Storage functionality."
                        href="/docs/sdk/rust"
                        icon={{ light: LightRust, dark: DarkRust }}
                    />
                    <IconBox
                        title="JavaScript"
                        status="available"
                        description="Learn how to build a user management app with Flutter and Supabase Database, Auth, and Storage functionality."
                        href="/docs/sdk/javascript"
                        icon={{ light: LightJavascript, dark: DarkJavascript }}
                    />
                    <IconBox
                        title="TypeScript"
                        status="available"
                        description="Learn how to build a user management app with Flutter and Supabase Database, Auth, and Storage functionality."
                        href="/docs/sdk/javascript"
                        icon={{ light: LightTypescript, dark: DarkTypescript }}
                    />
                    <IconBox
                        title="PHP"
                        status="available"
                        description="Learn how to build a user management app with Flutter and Supabase Database, Auth, and Storage functionality."
                        href="/docs/sdk/php"
                        icon={{ light: LightPhp, dark: DarkPhp }}
                    />
                    <IconBox
                        title="Python"
                        status="available"
                        description="Learn how to build a user management app with Flutter and Supabase Database, Auth, and Storage functionality."
                        href="/docs/sdk/python"
                        icon={{ light: LightPython, dark: DarkPython }}
                    />
                    <IconBox
                        title="Node.js"
                        status="available"
                        description="Learn how to build a user management app with Flutter and Supabase Database, Auth, and Storage functionality."
                        href="/docs/sdk/javascript/engines/node"
                        icon={{ light: LightNodejs, dark: DarkNodejs }}
                    />
                    <IconBox
                        title=".NET"
                        status="available"
                        description="Learn how to build a user management app with Flutter and Supabase Database, Auth, and Storage functionality."
                        href="/docs/sdk/dotnet"
                        icon={{ light: LightDotnet, dark: DarkDotnet }}
                    />
                    <IconBox
                        title="Golang"
                        status="available"
                        description="Learn how to build a user management app with Flutter and Supabase Database, Auth, and Storage functionality."
                        href="/docs/sdk/golang"
                        icon={{ light: LightGolang, dark: DarkGolang }}
                    />
                    <IconBox
                        title="Java"
                        status="available"
                        description="Learn how to build a user management app with Flutter and Supabase Database, Auth, and Storage functionality."
                        href="/docs/sdk/java"
                        icon={{ light: LightJava, dark: DarkJava }}
                    />
                </Boxes>
            </div>
            <div class="space-y-4">
                <h1 class="text-4xl font-thin">
                    Additional resources
                </h1>
                <Boxes columns={3} wider class="pt-2">
                    <IconBox
                        title="Rust"
                        status="available"
                        description="Learn how to build a user management app with Flutter and Supabase Database, Auth, and Storage functionality."
                        href="/docs/sdk/rust"
                        icon={{ light: LightRust, dark: DarkRust }}
                    />
                    <IconBox
                        title="JavaScript"
                        status="available"
                        description="Learn how to build a user management app with Flutter and Supabase Database, Auth, and Storage functionality."
                        href="/docs/sdk/javascript"
                        icon={{ light: LightJavascript, dark: DarkJavascript }}
                    />
                    <IconBox
                        title="TypeScript"
                        status="available"
                        description="Learn how to build a user management app with Flutter and Supabase Database, Auth, and Storage functionality."
                        href="/docs/sdk/javascript"
                        icon={{ light: LightTypescript, dark: DarkTypescript }}
                    />
                </Boxes>
            </div>
        </div>
    </div>
</BaseLayout>
