---
import IconBox from '@components/boxes/IconBox.astro';
import Boxes from '@src/components/boxes/Boxes.astro';
import BaseLayout from '@src/components/layout/BaseLayout.astro';

import CBORDark from '@img/icon/dark/cbor.png';
import CBORLight from '@img/icon/light/cbor-light.png';

import LightDotnet from '@img/icon/light/dotnet.png';
import LightGolang from '@img/icon/light/golang.png';
import LightJava from '@img/icon/light/java.png';
import LightJavascript from '@img/icon/light/javascript.png';
import LightNodejs from '@img/icon/light/nodejs.png';
import LightPhp from '@img/icon/light/php.png';
import LightPython from '@img/icon/light/python.png';
import LightRust from '@img/icon/light/rust.png';
import LightTypescript from '@img/icon/light/typescript.png';
import LightWasm from '@img/icon/light/webassembly.png';

import LightCloud from '@img/icon/light/cloud-light.png';
import DarkCloud from '@img/image/cloud/surrealcloud.png';

import DarkDotnet from '@img/icon/dark/dotnet.png';
import DarkGolang from '@img/icon/dark/golang.png';
import DarkJava from '@img/icon/dark/java.png';
import DarkJavascript from '@img/icon/dark/javascript.png';
import DarkNodejs from '@img/icon/dark/nodejs.png';
import DarkPhp from '@img/icon/dark/php.png';
import DarkPython from '@img/icon/dark/python.png';
import DarkRust from '@img/icon/dark/rust.png';
import DarkTypescript from '@img/icon/dark/typescript.png';
import DarkWasm from '@img/icon/dark/webassembly.png';

import LightBook from '@img/icon/light/book-light.png';
import LightSurrealist from '@img/icon/light/surrealist-light.png';
import LightUniversity from '@img/icon/light/university-light.png';

import DarkBook from '@img/icon/dark/book.png';
import DarkSurrealist from '@img/icon/dark/surrealist.png';
import DarkUniversity from '@img/icon/dark/university.png';

import LightSurrealKV from '@img/icon/light/kv.png';
import LightSurrealML from '@img/icon/light/ml-light.png';
import LightSurrealQL from '@img/icon/light/ql-light.png';
import LightSurrealDB from '@img/icon/light/surrealdb.png';

import DarkSurrealKV from '@img/icon/dark/kv.png';
import DarkSurrealDB from '@img/icon/dark/surrealdb.png';
import DarkSurrealML from '@img/icon/dark/surrealml.png';
import DarkSurrealQL from '@img/icon/dark/surrealql.png';

import DarkDocument from '@img/icon/dark/document.png';
import LightDocument from '@img/icon/light/document-light.png';

import DarkGeospatial from '@img/icon/dark/geospatial.png';
import LightGeospatial from '@img/icon/light/geospatial-light.png';

import DarkTimeSeries from '@img/icon/dark/time-series.png';
import LightTimeSeries from '@img/icon/light/time-series-light.png';

import FullTextSearchDark from '@img/icon/dark/full-text-search.png';
import FullTextSearchLight from '@img/icon/light/full-text-search.png';

import GraphDark from '@img/icon/dark/graph.png';
import GraphLight from '@img/icon/light/graph.png';

import HttpDark from '@img/icon/dark/http.png';
import HttpLight from '@img/icon/light/http-light.png';

import VectorDark from '@img/icon/dark/vector.png';
import VectorLight from '@img/icon/light/vector.png';

import SystemAccessDark from '@img/icon/dark/system-access.png';
import SystemAccessLight from '@img/icon/light/system-access.png';

import TokenAccessDark from '@img/icon/dark/token-access.png';
import TokenAccessLight from '@img/icon/light/token-access.png';

import RecordAccessDark from '@img/icon/dark/record-access.png';
import RecordAccessLight from '@img/icon/light/record-access.png';

import RPCDark from '@img/icon/dark/rpc.png';
import RPCLight from '@img/icon/light/rpc-light.png';

import SidekickDark from '@img/icon/dark/sidekick.png';
import SidekickLight from '@img/icon/light/sidekick-light.png';

import Footer from '@src/components/layout/Footer/Footer.astro';
import { Icon } from 'astro-icon/components';
---

<BaseLayout>
    <div class="flex flex-grow justify-center">
        <div class="container min-w-0 max-w-[1400px] py-16 px-8 lg:px-24 space-y-16 flex-grow border-x border-border max-sm:border-x-0">
            <div class="space-y-4 lg:pt-8">
                <h1 class="text-5xl lg:text-6xl font-semibold leading-11">
                    SurrealDB <br />
                    Documentation
                </h1>
                <p class="md:w-2/3 lg:w-1/2 text-faint pb-4">
                    SurrealDB is a native, open-source, and distributed database that is designed to make building and scaling realtime apps dramatically quicker and easier.
                </p>
                <a
					href="/docs/surrealdb/introduction/start"
					class="group inline-flex gap-1.5 items-center justify-center text-sm px-4 py-2 font-medium bg-gradient-to-r from-surreal-pink to-surreal-purple rounded-lg border-white/30 border bg-origin-border transition-colors hover:text-white"
				>
                    Get started with SurrealDB
					<Icon name="fa6-solid:arrow-right" class="w-4 transition-transform group-hover:translate-x-1" />
                </a>
                <!-- <p class="md:w-2/3 lg:w-1/2 text-text/[60%]">
                    SurrealDB makes building and scaling realtime apps dramatically quicker and easier. Get started by <a href="/docs/surrealdb/installation">installing the server</a>, and jump into our <a href="/docs/surrealdb/introduction/start">getting started guide</a> to learn how to insert and query data in SurrealDB in minutes.
                    <br /><br />
                    To quickly test out SurrealDB and <a href="/docs/surrealql">SurrealQL</a> functionality, we've included <a href="/docs/surrealql/demo">demo dataset</a> which you can download and <a href="/docs/surrealdb/cli/import"><code>import</code></a> into your SurrealDB instance.
                </p> -->
            </div>
            <div class="space-y-4">
                <!-- <h2 class="text-4xl">
                    Getting Started
				</h2> -->
                <!-- <p class="md:w-2/3 lg:w-1/2 text-text/60">
                    To start using SurrealDB with its SDKs, first install the appropriate SDK for your programming language, then initialize a connection to your SurrealDB instance using the provided connection methods and authentication credentials.
                </p> -->

                <!-- <div class="w-full xl:max-w-[440px] -mb-40"> 
                    <div class="border bg-background relative overflow-hidden grid grid-cols-12 rounded-lg p-5 md:p-8 w-fit">
                        <div class="col-span-full flex flex-col md:flex-row xl:flex-col justify-between gap-3">
     
                         <div class=" md:max-w-xs shrink w-fit xl:max-w-none"> 
                             <div class=" flex items-center gap-3 mb-3">
                                <h2 class="text-2xl"></h2>
                                 <div class="shrink-0">
                                    <div class="flex flex-wrap md:grid md:grid-cols-5 gap-2 sm:gap-3">
                                                <IconLink
                                            href="/docs/sdk/rust"
                                            icon={{ light: LightRust, dark: DarkRust }}
                                        />
                                        <IconLink
                                            href="/docs/sdk/javascript"
                                            icon={{ light: LightJavascript, dark: DarkJavascript }}
                                        />
                                        <IconLink
                                            href="/docs/sdk/javascript"
                                            icon={{ light: LightTypescript, dark: DarkTypescript }}
                                        />
                             <IconLink
                                 href="/docs/sdk/javascript/engines/node"
                                 icon={{ light: LightNodejs, dark: DarkNodejs }}
                             />
                             <IconLink
                                 href="/docs/sdk/javascript/engines/wasm"
                                 icon={{ light: LightWasm, dark: DarkWasm }}
                             />
                             <IconLink
                                 href="/docs/sdk/java"
                                 icon={{ light: LightJava, dark: DarkJava }}
                             />
                             <IconLink
                                 href="/docs/sdk/golang"
                                 icon={{ light: LightGolang, dark: DarkGolang }}
                             />
                             <IconLink
                                 href="/docs/sdk/python"
                                 icon={{ light: LightPython, dark: DarkPython }}
                             />
                             <IconLink
                                 href="/docs/sdk/dotnet"
                                 icon={{ light: LightDotnet, dark: DarkDotnet }}
                             />
                             <IconLink
                                 href="/docs/sdk/php"
                                 icon={{ light: LightPhp, dark: DarkPhp }}
                             />
                                    </div>
                                 </div>
                             </div>
                             </div>
     
                        </div>
                     </div> 
                </div> -->
  
            </div>
            <div class="space-y-4">
                <h1 class="text-4xl">
                    Topics
                </h1>
                <Boxes wider class="pt-2">
                    <IconBox
						title="Surreal Cloud"
						subtitle="Managed Cloud Hosting"
						description="Learn about Surreal Cloud, a managed cloud hosting service that allows you to deploy and manage your SurrealDB instances with ease."
						href="/docs/cloud"
						icon={{ light: LightCloud, dark: DarkCloud }}
                    />
                    <IconBox
                        title="SurrealDB"
						subtitle="Database Engine"
                        description="Explore the core functionality of SurrealDB, the world's most powerful multi-model database."
                        href="/docs/surrealdb"
                        icon={{ light: LightSurrealDB, dark: DarkSurrealDB }}
                    />
                    <IconBox
						title="Surrealist"
                        subtitle="Management Interface"
                        description="Discover Surrealist, the ultimate management interface for SurrealDB that allows you to interact with your data in a visual way."
                        href="/docs/surrealist"
                        icon={{ light: LightSurrealist, dark: DarkSurrealist }}
                    />
                    <IconBox
						title="SurrealML"
                        subtitle="Machine Learning"
                        description="Explore SurrealML, an integrated machine learning engine for running models directly on your data layer."
                        href="/docs/surrealml"
                        icon={{ light: LightSurrealML, dark: DarkSurrealML }}
                    />
                    <IconBox
						title="SurrealQL"
                        subtitle="Query Language"
                        description="Learn how to write SurrealQL, the simple and intuitive query language for SurrealDB."
                        href="/docs/surrealql"
                        icon={{ light: LightSurrealQL, dark: DarkSurrealQL }}
                    />
					<IconBox
						title="SurrealKV"
                        subtitle="Key-Value Store"
                        description="Explore the benefits of our key-value store, SurrealKV, and how it can be used to store temporal data."
                        href="/docs/surrealkv"
                        icon={{ light: LightSurrealKV, dark: DarkSurrealKV }}
                    />
                </Boxes>
            </div>
            <div class="space-y-4">
                <h1 class="text-4xl">
                    Data Models
                </h1>
                <Boxes class="pt-2">
                    <IconBox
						title="Document"
						description="Document database that is designed to make building and scaling realtime apps dramatically quicker and easier."
						href="/docs/surrealdb/models/document"
						icon={{ light: LightDocument, dark: DarkDocument }}
                    />
                    <IconBox
						title="Graph"
						description="Graph database that is designed to make building and scaling realtime apps dramatically quicker and easier."
						href="/docs/surrealdb/models/graph"
						icon={{ light: GraphLight, dark: GraphDark }}
                    />
                    <IconBox
                        title="Vector"
                        description="Vector database that is designed to make building and scaling realtime apps dramatically quicker and easier."
                        href="/docs/surrealdb/models/vector"
                        icon={{ light: VectorLight, dark: VectorDark }}
                    />
                    <IconBox
                        title="Full-Text Search"
                        description="Full-Text Search database that is designed to make building and scaling realtime apps dramatically quicker and easier."
                        href="/docs/surrealdb/models/full-text-search"
                        icon={{ light: FullTextSearchLight, dark: FullTextSearchDark }}
                    />
                    <IconBox
                        title="Time Series"
                        description="Time Series database that is designed to make building and scaling realtime apps dramatically quicker and easier."
                        href="/docs/surrealdb/models/time-series"
                        icon={{ light: LightTimeSeries, dark: DarkTimeSeries }}
                    />
                    <IconBox
						title="Geospatial"
						description="Geospatial database that is designed to make building and scaling realtime apps dramatically quicker and easier."
						href="/docs/surrealdb/models/geospatial"
						icon={{ light: LightGeospatial, dark: DarkGeospatial }}
                    />
                </Boxes>
            </div>
            <div class="space-y-4">
                <h1 class="text-4xl">
                    Education
                </h1>
                <Boxes columns={3} wider class="pt-2">
                    <IconBox
                        title="SurrealDB University"
                        description="Dive into our collection of recorded videos, live streams, and expert talks. Enhance your learning experience by accessing a variety of video content that covers essential SurrealDB topics and industry insights."
                        href="/learn"
                        icon={{ light: LightUniversity, dark: DarkUniversity }}
                    />
                    <IconBox
                        title="Aeon's Surreal Renaissance"
                        description="Embark on a journey through the ins and outs of SurrealDB as you follow an immersive story crafted to make learning a new database feel as enjoyable as sitting back and watching your favourite movie."
                        href="/learn/book"
                        icon={{ light: LightBook, dark: DarkBook }}
                    />
                    <IconBox
						title="Surreal Sidekick"
						description="Surreal Sidekick is your personal assistant that helps you learn SurrealDB by generating answers to your questions covering SurrealDB, SurrealQL and all the other products we offer."
						href="https://surrealist.app/cloud/chat"
						target="_blank"
						rel="noopener noreferrer"
						icon={{ light: SidekickLight, dark: SidekickDark }}
					/>
                </Boxes>
            </div>

            <div class="space-y-4">
                <h1 class="text-4xl">
                    Authentication
                </h1>
                <Boxes columns={3} wider class="pt-2">
                    <IconBox
                        title="System Access"
                        description=" System access is used to authenticate and authorize users to access the SurrealDB server."
                        href="/docs/surrealdb/security/authentication"
                        icon={{ light: SystemAccessLight, dark: SystemAccessDark }}
                    />
                    <IconBox
                        title="Record Access"
                        description="Record access is used to authenticate and authorize users to access the SurrealDB database."
                        href="/docs/surrealql/statements/define/access/record"
                        icon={{ light: RecordAccessLight, dark: RecordAccessDark }}
                    />
                    <IconBox
						title="Token Accesss"
						description="Token access is used to authenticate and authorize users to access the SurrealDB database."
						href="/docs/surrealql/statements/define/access/jwt"
						target="_blank"
						rel="noopener noreferrer"
						icon={{ light: TokenAccessLight, dark: TokenAccessDark }}
					/>
                </Boxes>
            </div>

            <div class="space-y-4">
                <h1 class="text-4xl">
                    SDKs
                </h1>
                <Boxes columns={3} wider class="pt-2">
                    <IconBox
                        title="Rust"
                        status="available"
                        description="Connect to SurrealDB over WebSocket or HTTP. Includes support for SurrealDB embedded in-memory and on-disk."
                        href="/docs/sdk/rust"
                        icon={{ light: LightRust, dark: DarkRust }}
                    />
                    <IconBox
                        title="JavaScript"
                        status="available"
                        description="Connect to SurrealDB over WebSocket or HTTP. Includes support for SurrealDB embedded in-memory and on-disk."
                        href="/docs/sdk/javascript"
                        icon={{ light: LightJavascript, dark: DarkJavascript }}
                    />
                    <!-- <IconBox
                        title="TypeScript"
                        status="available"
                        description="Connect to SurrealDB over WebSocket or HTTP. Includes support for SurrealDB embedded in-memory and on-disk."
                        href="/docs/sdk/javascript"
                        icon={{ light: LightTypescript, dark: DarkTypescript }}
                    /> -->
                    <IconBox
                        title="Node.js"
                        status="available"
                        description="Connect to SurrealDB over WebSocket or HTTP. Includes support for SurrealDB embedded in-memory and on-disk."
                        href="/docs/sdk/javascript/engines/node"
                        icon={{ light: LightNodejs, dark: DarkNodejs }}
                    />
                    <IconBox
                        title="WebAssembly"
                        status="available"
                        description="Connect to SurrealDB over WebSocket or HTTP. Includes support for SurrealDB embedded in-memory and on-disk."
                        href="/docs/sdk/javascript/engines/wasm"
                        icon={{ light: LightWasm, dark: DarkWasm }}
                    />
                    <IconBox
                        title="Java"
                        status="available"
                        description="Connect to SurrealDB over WebSocket or HTTP. Includes support for SurrealDB embedded in-memory and on-disk."
                        href="/docs/sdk/java"
                        icon={{ light: LightJava, dark: DarkJava }}
                    />
                    <IconBox
                        title="Golang"
                        status="available"
                        description="Connect to SurrealDB over WebSocket or HTTP. Includes support for SurrealDB embedded in-memory and on-disk."
                        href="/docs/sdk/golang"
                        icon={{ light: LightGolang, dark: DarkGolang }}
                    />
                    <IconBox
                        title="Python"
                        status="available"
                        description="Connect to SurrealDB over WebSocket or HTTP. Includes support for SurrealDB embedded in-memory and on-disk."
                        href="/docs/sdk/python"
                        icon={{ light: LightPython, dark: DarkPython }}
                    />
                    <IconBox
                        title=".NET"
                        status="available"
                        description="Connect to SurrealDB over WebSocket or HTTP. Includes support for SurrealDB embedded in-memory and on-disk."
                        href="/docs/sdk/dotnet"
                        icon={{ light: LightDotnet, dark: DarkDotnet }}
                    />
                    <IconBox
                        title="PHP"
                        status="available"
                        description="Connect to SurrealDB over WebSocket or HTTP."
                        href="/docs/sdk/php"
                        icon={{ light: LightPhp, dark: DarkPhp }}
                    />
                </Boxes>
            </div>

			<div class="space-y-4">
                <h1 class="text-4xl">
                    Integration
                </h1>
                <Boxes columns={3} wider class="pt-2">
                    <IconBox
                        title="HTTP & Rest"
                        description="The HTTP endpoints exposed by SurrealDB instances provide a simple way to interact with the database over a traditional RESTful interface."
                        href="/docs/surrealdb/integration/http"
                        icon={{ light: HttpLight, dark: HttpDark }}
                    />
                    <IconBox
                        title="RPC Protocol"
                        description="The RPC protocol allows for network-protocol agnostic communication with SurrealDB."
                        href="/docs/surrealdb/integration/rpc" 
                        icon={{ light: RPCLight, dark: RPCDark }}
                    />
                    <IconBox
						title="CBOR Protocol"
						description="SurrealDB extends the CBOR protocol with a number of custom tags to support the full range of data types available in SurrealDB."
						href="/docs/surrealdb/integration/cbor"
						icon={{ light: CBORLight, dark: CBORDark }}
					/>
                </Boxes>
            </div>

            <div class="space-y-8 lg:pt-8">
                <h1 class="text-4xl">
                    Tutorials
                </h1>
                <Boxes columns={3} wider class="pt-2">
                    <IconBox
                        title="Integrate AWS Cognito as an Authentication Provider"
                        href="/docs/tutorials/integrate-aws-cognito-as-authentication-provider"
                    />
                    <IconBox
                        title="Integrate Auth0 as an Authentication Provider"
                        href="/docs/tutorials/integrate-auth0-as-authentication-provider"
                    />
                    <IconBox
                        title="Connect to SurrealDB via Ngrok tunnel"
                        href="/docs/tutorials/connect-to-surrealdb-via-ngrok-tunnel"
                    />
                    <IconBox
                        title="Define a Schema in SurrealDB"
                        href="/docs/tutorials/define-a-schema"
                    />
                    <IconBox
                        title="Use SurrealDB in GitHub Actions"
                        href="/docs/tutorials/using-github-actions"
                    />
                    <IconBox
                        title="Working with SurrealDB over HTTP via Postman"
                        href="/docs/tutorials/working-with-surrealdb-over-http-via-postman"
                    />
                </Boxes>
                <div class="flex justify-end">
                    <a href="/docs/tutorials" class="text-surreal-pink hover:text-surreal-pink/80 transition-colors duration-200">
                        Check out other tutorials →
                    </a>
                </div>
            </div>
        </div>
    </div>
	<Footer />
</BaseLayout>