<!doctype html>
<html lang="en" class="scroll-smooth h-full">
	<head>
		<title>Redirecting</title>
		<meta content="0;url=/docs/surrealdb" http-equiv=refresh>
		<meta content=noindex name=robots>
		<link href=/docs/surrealdb rel=canonical>
	</head>
	<body class="bg-background font-sans text-text flex flex-col h-full">
		<a href=/docs/surrealdb>Redirecting...</a>
	</body>
</html>