---
import IconBox from '@components/boxes/IconBox.astro';
import Boxes from '@src/components/boxes/Boxes.astro';
import BaseLayout from '@src/components/layout/BaseLayout.astro';

import LightDotnet from '@img/icon/light/dotnet.png';
import LightGolang from '@img/icon/light/golang.png';
import LightJava from '@img/icon/light/java.png';
import LightJavascript from '@img/icon/light/javascript.png';
import LightNodejs from '@img/icon/light/nodejs.png';
import LightPhp from '@img/icon/light/php.png';
import LightPython from '@img/icon/light/python.png';
import LightRust from '@img/icon/light/rust.png';
import LightTypescript from '@img/icon/light/typescript.png';
import LightWasm from '@img/icon/light/webassembly.png';

import DarkDotnet from '@img/icon/dark/dotnet.png';
import DarkGolang from '@img/icon/dark/golang.png';
import DarkJava from '@img/icon/dark/java.png';
import DarkJavascript from '@img/icon/dark/javascript.png';
import DarkNodejs from '@img/icon/dark/nodejs.png';
import DarkPhp from '@img/icon/dark/php.png';
import DarkPython from '@img/icon/dark/python.png';
import DarkRust from '@img/icon/dark/rust.png';
import DarkTypescript from '@img/icon/dark/typescript.png';
import DarkWasm from '@img/icon/dark/webassembly.png';

import LightBook from '@img/icon/light/book.png';
import LightSurrealist from '@img/icon/light/surrealist.png';
import LightUniversity from '@img/icon/light/university.png';

import DarkBook from '@img/icon/dark/book.png';
import DarkSurrealist from '@img/icon/dark/surrealist.png';
import DarkUniversity from '@img/icon/dark/university.png';

import LightSurrealDB from '@img/icon/light/surrealdb.png';
import LightSurrealML from '@img/icon/light/surrealml.png';
import LightSurrealQL from '@img/icon/light/surrealql.png';

import DarkSurrealDB from '@img/icon/dark/surrealdb.png';
import DarkSurrealML from '@img/icon/dark/surrealml.png';
import DarkSurrealQL from '@img/icon/dark/surrealql.png';
---

<BaseLayout>
    <div class="flex flex-grow justify-center">
        <div class="max-w-screen-xl min-w-0 py-16 pb-48 px-8 space-y-16 flex-grow">
            <div class="space-y-4 lg:pt-8">
                <h1 class="text-5xl sm:text-6xl lg:text-7xl font-thin leading-11">
                    SurrealDB <br />
                    Documentation
                </h1>
                <p class="md:w-2/3 lg:w-1/2 font-extralight text-text/60">
                    SurrealDB makes building and scaling realtime apps dramatically quicker and easier. Get started by <a href="/docs/surrealdb/installation">installing the server</a>, and jump into our <a href="/docs/surrealdb/introduction/start">getting started guide</a> to learn how to insert and query data in SurrealDB in minutes.
                    <br /><br />
                    To quickly test out SurrealDB and <a href="/docs/surrealql">SurrealQL</a> functionality, we've included <a href="/docs/surrealql/demo">demo dataset</a> which you can download and <a href="/docs/surrealdb/cli/import"><code>import</code></a> into your SurrealDB instance.
                </p>
            </div>
            <div class="space-y-4">
                <h1 class="text-4xl font-thin">
                    Getting Started
                </h1>
                <p class="md:w-2/3 lg:w-1/2 font-extralight text-text/60">
                    To start using SurrealDB with its SDKs, first install the appropriate SDK for your programming language, then initialize a connection to your SurrealDB instance using the provided connection methods and authentication credentials.
                </p>
                <div class="flex gap-4 pt-2 flex-wrap">
                    <IconBox
                        href="/docs/sdk/rust"
                        icon={{ light: LightRust, dark: DarkRust }}
                    />
                    <IconBox
                        href="/docs/sdk/javascript"
                        icon={{ light: LightJavascript, dark: DarkJavascript }}
                    />
                    <IconBox
                        href="/docs/sdk/javascript"
                        icon={{ light: LightTypescript, dark: DarkTypescript }}
                    />
                    <IconBox
                        href="/docs/sdk/javascript/engines/node"
                        icon={{ light: LightNodejs, dark: DarkNodejs }}
                    />
                    <IconBox
                        href="/docs/sdk/javascript/engines/wasm"
                        icon={{ light: LightWasm, dark: DarkWasm }}
                    />
                    <IconBox
                        href="/docs/sdk/java"
                        icon={{ light: LightJava, dark: DarkJava }}
                    />
                    <IconBox
                        href="/docs/sdk/golang"
                        icon={{ light: LightGolang, dark: DarkGolang }}
                    />
                    <IconBox
                        href="/docs/sdk/python"
                        icon={{ light: LightPython, dark: DarkPython }}
                    />
                    <IconBox
                        href="/docs/sdk/dotnet"
                        icon={{ light: LightDotnet, dark: DarkDotnet }}
                    />
                    <IconBox
                        href="/docs/sdk/php"
                        icon={{ light: LightPhp, dark: DarkPhp }}
                    />                  
                </div>
            </div>
            <div class="space-y-4">
                <h1 class="text-4xl font-thin">
                    Products
                </h1>
                <Boxes wider class="pt-2">
                    <IconBox
                        title="SurrealDB"
                        description="SurrealDB makes building and scaling realtime apps dramatically quicker and easier. Get started by installing the server, and jump into our getting started guide to learn how to insert and query data in SurrealDB in minutes."
                        href="/docs/surrealdb"
                        icon={{ light: LightSurrealDB, dark: DarkSurrealDB }}
                    />
                    <IconBox
                        title="Surrealist"
                        description="Surrealist is a user interface for interacting with your SurrealDB database visually. It enables you to seamlessly connect to any SurrealDB instance, allowing you to execute queries, explore your tables, design your schemas, and much more."
                        href="/docs/surrealist"
                        icon={{ light: LightSurrealist, dark: DarkSurrealist }}
                    />
                    <IconBox
                        title="SurrealML"
                        description="SurrealML is an engine that seeks to do one thing, and one thing well: store and execute trained ML models. SurrealML does not intrude on the training frameworks that are already out there, instead works with them to ease the storage, loading, and execution of models. "
                        href="/docs/surrealml"
                        icon={{ light: LightSurrealML, dark: DarkSurrealML }}
                    />
                    <IconBox
                        title="SurrealQL"
                        description="SurrealQL is designed to provide developers with a seamless and intuitive way to interact with SurrealDB. It offers a familiar syntax and supports various statement types, allowing you to perform complex database operations efficiently."
                        href="/docs/surrealql"
                        icon={{ light: LightSurrealQL, dark: DarkSurrealQL }}
                    />
                </Boxes>
            </div>
            <div class="space-y-4">
                <h1 class="text-4xl font-thin">
                    Learning
                </h1>
                <Boxes wider class="pt-2">
                    <IconBox
                        title="SurrealDB University"
                        description="Dive into our collection of recorded videos, live streams, and expert talks. Enhance your learning experience by accessing a variety of video content that covers essential SurrealDB topics and industry insights."
                        href="https://surrealdb.com/learn"
                        icon={{ light: LightUniversity, dark: DarkUniversity }}
                    />
                    <IconBox
                        title="The SurrealDB Book"
                        description="Embark on a journey through the ins and outs of SurrealDB as you follow an immersive story crafted to make learning a new database feel as enjoyable as sitting back and watching your favourite movie."
                        href="https://surrealdb.com/learn/book"
                        icon={{ light: LightBook, dark: DarkBook }}
                    />
                </Boxes>
            </div>
            <div class="space-y-4">
                <h1 class="text-4xl font-thin">
                    Client Libraries
                </h1>
                <Boxes columns={3} wider class="pt-2">
                    <IconBox
                        title="Rust"
                        status="available"
                        description="A native async-friendly SDK for Rust with bi-directional, binary communication over WebSocket or HTTP, and support for SurrealDB embedded in-memory and on-disk."
                        href="/docs/sdk/rust"
                        icon={{ light: LightRust, dark: DarkRust }}
                    />
                    <IconBox
                        title="JavaScript"
                        status="available"
                        description="A native SDK for JavaScript with bi-directional, binary communication over WebSockets or HTTP, and support for SurrealDB embedded in-memory and on-disk using SurrealKV."
                        href="/docs/sdk/javascript"
                        icon={{ light: LightJavascript, dark: DarkJavascript }}
                    />
                    <IconBox
                        title="TypeScript"
                        status="available"
                        description="Full support for TypeScript definitions from within the JavaScript SDK, for working with strongly-typed data with both locally embedded and remote databases."
                        href="/docs/sdk/javascript"
                        icon={{ light: LightTypescript, dark: DarkTypescript }}
                    />
                    <IconBox
                        title="Node.js"
                        status="available"
                        description="A native Node.js engine for use with the JavaScript SDK in server-side environments, enabling in-memory or on-disk deployments using SurrealKV."
                        href="/docs/sdk/javascript/engines/node"
                        icon={{ light: LightNodejs, dark: DarkNodejs }}
                    />
                    <IconBox
                        title="WebAssembly"
                        status="available"
                        description="A native WebAssembly engine for use with the JavaScript SDK for web browsers, enabling in-memory or persisted deployments using IndexedDB."
                        href="/docs/sdk/javascript/engines/wasm"
                        icon={{ light: LightWasm, dark: DarkWasm }}
                    />
                    <IconBox
                        title="Java"
                        status="available"
                        description="An SDK for Java with binary communication over WebSocket or HTTP, and support for SurrealDB embedded in-memory and on-disk using SurrealKV."
                        href="/docs/sdk/java"
                        icon={{ light: LightJava, dark: DarkJava }}
                    />
                    <IconBox
                        title="Golang"
                        status="available"
                        description="An SDK for Golang with binary communication over WebSocket or HTTP, and support for SurrealDB embedded in-memory and on-disk using SurrealKV."
                        href="/docs/sdk/golang"
                        icon={{ light: LightGolang, dark: DarkGolang }}
                    />
                    <IconBox
                        title="Python"
                        status="coming soon"
                        description="An SDK for sync or async Python, with binary communication over WebSocket or HTTP, and support for SurrealDB embedded in-memory and on-disk using SurrealKV."
                        href="/docs/sdk/python"
                        icon={{ light: LightPython, dark: DarkPython }}
                    />
                    <IconBox
                        title=".NET"
                        status="available"
                        description="A native SDK for .NET with bi-directional, binary communication over WebSockets or HTTP."
                        href="/docs/sdk/dotnet"
                        icon={{ light: LightDotnet, dark: DarkDotnet }}
                    />
                    <IconBox
                        title="PHP"
                        status="available"
                        description="A native SDK for PHP with bi-directional, binary communication over WebSockets or HTTP."
                        href="/docs/sdk/php"
                        icon={{ light: LightPhp, dark: DarkPhp }}
                    />
                </Boxes>
            </div>
            <div class="space-y-8 lg:pt-8">
                <h1 class="text-4xl font-thin">
                    Tutorials
                </h1>
                <Boxes columns={3} wider class="pt-2">
                    <IconBox
                        title="Integrate AWS Cognito as an Authentication Provider"
                        description="This guide will cover using AWS Cognito as the authentication provider for client-side web applications using SurrealDB as the only backend."
                        href="/docs/tutorials/integrate-aws-cognito-as-authentication-provider"
                    />
                    <IconBox
                        title="Integrate Auth0 as an Authentication Provider"
                        description="This guide will cover using Auth0 as the authentication provider for single-page web applications using SurrealDB as the only backend."
                        href="/docs/tutorials/integrate-auth0-as-authentication-provider"
                    />
                    <IconBox
                        title="Connect to SurrealDB via Ngrok tunnel"
                        description="This guide will walk you through connecting a local SurrealDB instance to the internet using Ngrok, making it accessible remotely."
                        href="/docs/tutorials/connect-to-surrealdb-via-ngrok-tunnel"
                    />
                    <IconBox
                        title="Define a Schema in SurrealDB"
                        description="In this tutorial, you will learn how to define a schema in SurrealDB, what using either schema type means for data retrieval, and how to use what you need as your product grows."
                        href="/docs/tutorials/define-a-schema"
                    />
                    <IconBox
                        title="Using GitHub Actions"
                        description="This guide will show you how to set up and use the official GitHub Action for SurrealDB in your CI/CD pipeline."
                        href="/docs/tutorials/using-github-actions"
                    />
                    <IconBox
                        title="Working with SurrealDB over HTTP via Postman"
                        description="In this tutorial, you will learn how to query SurrealDB endpoints via the Postman collection."
                        href="/docs/tutorials/working-with-surrealdb-over-http-via-postman"
                    />
                </Boxes>
            </div>
        </div>
    </div>
</BaseLayout>
