html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family:
        system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
	background-color: var(--mantine-color-obsidian-9);
}

:root {
    --surreal-color-primary: #d255fe;
    --surreal-color-secondary: #651ddd;
    --surreal-color-gradient: linear-gradient(
        135deg,
        var(--surreal-color-primary),
        var(--surreal-color-secondary)
    );
}