html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: light-dark(var(--mantine-color-white), var(--mantine-color-obsidian-9));
}

:root {
	// TODO legacy - replace all usages with UI kit vars
	--surreal-color-primary: var(--surreal-energy);
	--surreal-color-secondary: var(--surreal-passion);
	--surreal-color-gradient: linear-gradient(135deg,
			var(--surreal-color-primary),
			var(--surreal-color-secondary));
}

html[data-mantine-color-scheme="dark"] {
	.blend {
		mix-blend-mode: lighten;
		will-change: opacity, transform;
	}

	.difference {
		mix-blend-mode: difference;
		will-change: opacity, transform;
	}
}

// NOTE we shouldnt have global style overrides in docs
// .mantine-Menu-dropdown {
// 	background-color: light-dark(var(--mantine-color-white), var(--mantine-color-obsidian-8)) !important;
// 	border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-obsidian-6)) !important;
// 	border-radius: 4px !important;
// 	padding: 4px !important;
// }

// .mantine-Menu-item {
// 	color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-gray-2)) !important;
// 	border-radius: 4px !important;
// 	transition: background-color 200ms ease, color 200ms ease !important;
// 	padding: 8px 12px !important;

// 	.mantine-Menu-itemSection {
// 		margin-right: 0.75rem;
// 	}

// 	&:hover {
// 		background: rgba(from var(--surreal-color-primary) r g b / 0.15) !important;
// 		color: var(--surreal-color-primary) !important;
// 	}
// }