.flag-markdown h1 {
	font-size: 2.5rem;
}

.flag-markdown h2 {
	font-size: 2.25rem;
}

.flag-markdown h3 {
	font-size: 2rem;
}

.flag-markdown p {
	font-size: 0.925rem;
}

.flag-markdown {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		>a[href^="#"] {
			transition: all 150ms ease;
			opacity: 0;
		}

		&:hover {
			>a[href^="#"] {
				opacity: 1;
			}
		}
	}
}

.flag-markdown a:not(:has(>code)) {
	transition: color 150ms ease;
	color: var(--surreal-color-primary);

	&:hover {
		text-decoration: underline;
	}
}

.flag-markdown pre {
	overflow-x: auto;
	max-width: 90vw;
}

.flag-markdown .mantine-Paper-root {
	background-color: var(--mantine-color-obsidian-8);

	@include light {
		background-color: var(--mantine-color-gray-0);
	}
}

.flag-title {
	display: flex;
	align-items: center;
	gap: var(--mantine-spacing-md);

	img {
		height: 2.75rem !important;
		width: auto !important;
	}

	h1 {
		margin-top: 0 !important;
	}
}