.root {
	position: sticky;
	top: calc(56px + var(--mantine-spacing-md));
	align-self: start;
	max-height: calc(100vh - 56px - var(--mantine-spacing-xl));
	overflow-y: auto;

	@media screen and (max-width: 48em) {
		position: static;
		max-height: none;
	}
}
