---
import Image, { type Props as ImageProps } from '@components/Image.astro';

type Props = {
    title: string;
    icon: ImageProps['src'];
};

const { title, icon } = Astro.props;
---

<div class="group flex items-center gap-4 p-2 rounded-lg w-full transition-colors hover:bg-code">
	<Image src={icon} alt={title} class="size-4" />
	<div class="text-text/60 group-hover:text-text">
		{title}
	</div>
</div>