---
import SidebarItem, {
    type SidebarItem as TSidebarItem,
} from './SidebarItem.astro';

export type Props = SidebarGroup;
export type SidebarGroup = {
    title: string;
    href: string;
    slug: string;
    isPage: boolean;
    items: TSidebarItem[];
};

const { title, items } = Astro.props;
---

<div class="mt-6">
    <div class="flex w-full items-center my-1 pl-4 font-medium py-0.5">
        {title}
    </div>
    <div class="flex flag-content flex-col">
		<SidebarItem {...Astro.props} title="Introduction" top={false} items={[]} />
        {items.map((item) => (
            <SidebarItem {...item} />
        ))}
    </div>
</div>
