---
import { cn } from '@src/util/tailwind';

export type SidebarLink = {
    title: string;
    href: string;
    slug: string;
    items?: never;
};

const { title, href } = Astro.props;
const active = Astro.url.pathname === href;
---

<a href={href} class={cn("sidebar-link text-sm text-faint px-4 py-1.5 w-full block cursor-pointer rounded-lg hover:bg-slate-600/10 hover:text-slate-600 hover:dark:text-slate-200", active && "text-surreal-pink dark:text-surreal-pink bg-surreal-pink/20 hover:text-surreal-pink hover:dark:text-surreal-pink hover:bg-surreal-pink/20")}>
    {title}
</a>
