---
import { Icon } from 'astro-icon/components';
import SidebarItem, {
    type SidebarItem as TSidebarItem,
} from './SidebarItem.astro';
import { cn } from '@src/util/tailwind';

export type Props = SidebarGroup;
export type SidebarGroup = {
    title: string;
    href: string;
    slug: string;
    isPage: boolean;
    items: TSidebarItem[];
};

const { title, href, isPage, items } = Astro.props;
const id = Array.from({ length: 8 }, () => Math.random().toString(36)[2]).join(
    ''
);
const active = Astro.url.pathname.startsWith(href);
---

<style>
    .flag-state:checked + label .flag-trigger {
        @apply rotate-90;
    }

    .flag-state:not(:checked) ~ .flag-content {
        @apply hidden;
    }
</style>

<div>
    <input type="checkbox" class="hidden flag-state" id={id} {...active ? { checked: true } : {}} />
    <label for={id} class={cn("flex w-full items-center my-1 pl-4 pr-2 rounded-lg hover:bg-bwr/5 transition-colors group cursor-pointer", active && "bg-bwr/5")}>
        <a href={isPage ? href : undefined} class={cn("flex-grow text-sm py-0.5", active && "text-surreal-pink")}>
            {title}
        </a>
        <div class="p-2 cursor-pointer">
            <Icon name="fa6-solid:chevron-right" class="transition-all duration-100 flag-trigger text-text/60 hover:text-text" />
        </div>
    </label>
    <div class="flex flag-content flex-col border-l border-border ml-4 pl-2">
        {items.map((item) => (
            <SidebarItem {...item} />
        ))}
    </div>
</div>
