---
import { cn } from '@src/util/tailwind';

export type SidebarLink = {
    title: string;
    href: string;
    slug: string;
    items?: never;
};

const { title, href } = Astro.props;
const doc = Astro.params.sdk ? `sdk/${Astro.params.sdk}` : Astro.params.doc;
const matchLiteral = doc && href === `/docs/${doc}`;
const active = matchLiteral
    ? Astro.url.pathname === href
    : Astro.url.pathname.startsWith(href);
---

<a href={href} class={cn("text-sm text-text/60 px-4 py-1.5 w-full block cursor-pointer", active && "text-surreal-pink")}>
    {title}
</a>
