---
import { cn } from '@src/util/tailwind';

export type SidebarLink = {
    title: string;
    href: string;
    slug: string;
    items?: never;
};

const { title, href } = Astro.props;
const active = Astro.url.pathname === href;
---

<a href={href} class={cn("text-sm text-text/60 px-4 py-1.5 w-full block cursor-pointer", active && "text-surreal-pink")}>
    {title}
</a>
