---
import { cn } from '@src/util/tailwind';

export type SidebarLink = {
    title: string;
    href: string;
    slug: string;
    items?: never;
};

const { title, href } = Astro.props;
const active = Astro.url.pathname === href;
---

<a href={href} class={cn("text-sm dark:text-faint px-4 py-1.5 w-full block cursor-pointer hover:text-surreal-pink hover:dark:text-surreal-pink hover:bg-surreal-pink/10", active && "text-surreal-pink dark:text-surreal-pink bg-surreal-pink/20")}>
    {title}
</a>
