.root {
	container-type: inline-size;
}

.inner {
	display: flex;
	align-items: center;
	gap: 6px;
	color: var(--mantine-color-slate-5);
	font-size: var(--mantine-font-size-sm);

	@container (max-width: 550px) {
		flex-direction: column;
		align-items: flex-start;
		gap: var(--mantine-spacing-sm);
	}
}

.separator {
	@container (max-width: 550px) {
		display: none;
	}
}

.socials {
	display: flex;
	align-items: center;
	gap: 6px;
}