---
import DarkSurreal from '@img/logo/dark/text.svg';
import LightSurreal from '@img/logo/light/text.svg';

import BaseLayout from '@src/components/layout/BaseLayout.astro';
import { LAB_CATEGORIES, LAB_SIDEBAR } from '@config/pages/labs';
import LabSidebar from '@src/components/pages/labs/LabSidebar.astro';
import LabItem from '@src/components/pages/labs/LabItem.astro';
import Image from '@src/components/Image.astro';
import Footer from '@src/components/layout/Footer/Footer.astro';
import { getCollection } from 'astro:content';

const items = await getCollection('labs-items');
---

<BaseLayout
	title="SurrealDB Labs"
	description="In this section, you will find a list of the SurrealDB ecosystem, including client libraries, management interfaces, development tools, and more. Discover the tools and resources that can help you build, manage, and extend your SurrealDB applications."
>
	<div class="container mx-auto pt-12 pb-24 max-w-[1200px]">
		<div class="flex items-center gap-4 mb-4">
			<Image
				class="block h-7"
				alt="SurrealDB"
				src={{
					light: LightSurreal,
					dark: DarkSurreal,
				}}
			/>
			<h1 class="text-3xl sm:text-[2.5rem] font-medium">
				Labs
			</h1>
		</div>
		<p class="text-faint mb-8">
			Dive into the full range of tools, libraries, and integrations built around SurrealDB. This page brings together first- and third-party resources—including client SDKs, admin interfaces, development tools, learning materials, and more—to help you build, manage, and extend your SurrealDB applications with ease.
		</p>
		<p class="text-faint mb-6">
			Whether you're getting started or scaling up, find everything you need to support your journey with SurrealDB.
		</p>
		<hr
			class="border-b border-border my-8"
			role="separator"
			aria-orientation="horizontal"
		/>
		<div class="flex flex-col md:flex-row gap-8">
			<!-- Sidebar Filter -->
			<LabSidebar />

			<!-- Grid of Links -->
			<main
				class="flex-1 p-6 grid sm:grid-cols-2 xl:grid-cols-3 gap-4 max-md:justify-stretch md:justify-center h-fit"
			>
				{
					items.map((item) => (
						<LabItem item={item} />
					))
				}
			</main>
		</div>
	</div>

	<!-- Footer -->
	<Footer />
</BaseLayout>