.grid-wrap {
	min-width: 0;
	width: 100%;
}

.page {
	display: grid;
	grid-template-columns: 240px 1fr;
	gap: var(--mantine-spacing-xl);
	padding-block: var(--mantine-spacing-md);
	width: 100%;

	@media screen and (max-width: 48em) {
		grid-template-columns: 1fr;
	}
}

.hero {
	padding-block: 2rem;
	width: 100%;
}

.no-results {
	text-align: center;
	padding: 3rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
