<style>
    a {
        @apply text-text/50 duration-75;
    }
</style>

<div class="py-8 px-6 md:px-8 lg:px-10 border-t border-border w-full bg-background flex items-center h-full gap-x-2 gap-y-1 text-sm whitespace-nowrap flex-wrap !text-text/50">
    <a href="https://github.com/surrealdb/surrealdb">
        &copy; SurrealDB
    </a>
    <span>•</span>
    <a href="https://github.com/surrealdb/surrealdb">
        GitHub
    </a>
    <span>•</span>
    <a href="https://discord.gg/surrealdb">
        Discord
    </a>
    <span>•</span>
    <a href="https://surrealdb.com/community">
        Community
    </a>
    <span>•</span>
    <a href="https://surrealdb.com/cloud">
        Cloud
    </a>
    <span>•</span>
    <a href="https://surrealdb.com/features">
        Features
    </a>
    <span>•</span>
    <a href="https://surrealdb.com/releases">
        Releases
    </a>
    <span>•</span>
    <a href="https://surrealdb.com/install">
        Install
    </a>
</div>
