.search {
	border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-obsidian-7)) !important;
	border-radius: 4px;
	background: light-dark(var(--mantine-color-white), var(--mantine-color-obsidian-8)) !important;
	min-width: 220px;
	cursor: pointer;
	transition: border-color 150ms ease;
	background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-obsidian-7)) !important;

	&:hover {
		border-color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-obsidian-5)) !important;
	}
}

.searchInput {
	border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-obsidian-7)) !important;

	a {
		transition: background-color 250ms ease, color 250ms ease;
	}

	a:hover {
		background-color: light-dark(var(--mantine-color-gray-1),
				rgba(from var(--mantine-color-obsidian-7) r g b / 1)) !important;
		color: light-dark(var(--mantine-color-black), var(--mantine-color-obsidian-0)) !important;
	}
}