.search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--mantine-spacing-md);
	padding: 6px 12px;
	border: 1px solid var(--mantine-color-obsidian-7);
	border-radius: var(--mantine-radius-sm);
	background: var(--mantine-color-obsidian-8);
	min-width: 220px;
	cursor: pointer;
	transition: border-color 150ms ease;

	&:hover {
		border-color: var(--mantine-color-obsidian-5);
	}
}