.search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--mantine-spacing-md);
	padding: 6px 12px;
	border: 1px solid var(--mantine-color-obsidian-7);
	border-radius: var(--mantine-radius-sm);
	background: var(--mantine-color-obsidian-8);
	min-width: 220px;
	cursor: pointer;
	transition: border-color 150ms ease;

	&:hover {
		border-color: var(--mantine-color-obsidian-5);
	}
}

.searchInput {
	border-color: var(--mantine-color-obsidian-7) !important;

	a {
		transition: background-color 250ms ease, color 250ms ease;
	}

	a:hover {
		background-color: rgba(from var(--mantine-color-obsidian-7) r g b / 1) !important;
		color: var(--mantine-color-obsidian-0) !important;
	}
}