html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	--mantine-color-text: var(--mantine-color-slate-2);

	background-color: var(--mantine-color-obsidian-9) !important;

	@include light {
		--mantine-color-text: var(--mantine-color-slate-7);

		background-color: var(--mantine-color-white) !important;
	}
}

// TODO Port this to @surrealdb/ui
.flag-markdown>.mantine-Stack-root>:is(h1, h2, h3, h4, h5, h6):first-child {
	margin-top: 0 !important;
}