.root {
	display: flex;
	flex-direction: column;
	gap: var(--mantine-spacing-xs);
	height: 100%;
	transition: all 0.15s;

	.anchor:hover & {
		border-color: var(--mantine-color-violet-text);
		background-color: var(--mantine-color-violet-light);
	}
}