.toc-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.toc-item {
	border-left: 2px solid var(--mantine-color-obsidian-7);
	transition: border-color 200ms ease;

	@include light {
		border-left-color: var(--mantine-color-obsidian-1);
	}

	&[data-active] {
		border-left-color: var(--mantine-color-violet-5) !important;
	}
}

.toc-link {
	display: block;
	padding: 6px 0;
	color: var(--mantine-color-slate-3);
	text-decoration: none;
	font-size: var(--mantine-font-size-sm);
	transition: color 200ms ease;

	@include light {
		color: var(--mantine-color-slate-6);
	}

	&:hover,
	&[data-active] {
		color: var(--mantine-color-bright) !important;
	}
}